In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 93)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>80'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA50rate>80'] = (allstock.loc[id, 'RS EMA50rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['RS EMA250rate>80'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['RS EMA250rate>80']].index))
    print(str(day))
    # apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:63]).prod()
    season2_profit = abs(roc_df.iloc[63:126]).prod()
    season3_profit = abs(roc_df.iloc[126:189]).prod()
    season4_profit = abs(roc_df.iloc[189:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['RS EMA250rate>80']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [7]:
avg_profit_df = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df.loc['total'] = avg_profit_df.sum()
display(avg_profit_df)

,season1_profit,season2_profit,season3_profit,season4_profit,all_profit,number of stock
2022-07-18 00:00:00,-3.708955,9.150445,22.602532,9.419916,43.063391,100.0
2022-04-15 00:00:00,-14.035776,-4.314316,9.376487,16.027386,5.039385,100.0
2022-01-12 00:00:00,-9.487399,-4.851498,-13.835899,12.651856,-17.068656,100.0
2021-10-12 00:00:00,12.081357,-1.068393,-12.269472,-8.897450,-11.362903,100.0
2021-07-12 00:00:00,-14.682251,14.593993,-4.439758,-19.328067,-25.399704,100.0
2021-04-08 00:00:00,9.096346,-9.566187,16.739575,-6.628204,1.557866,100.0
2021-01-05 00:00:00,27.621450,9.574050,-12.092559,18.028838,41.884993,100.0
2020-10-05 00:00:00,13.171917,21.876096,4.377360,-11.750882,29.264433,100.0
2020-07-03 00:00:00,2.045046,8.836122,16.472200,1.027892,32.000408,100.0
2020-04-01 00:00:00,43.040037,4.354485,9.718483,12.162307,86.475955,100.0
2019-12-30 00:00:00,-16.279866,32.023632,3.393823,10.842694,25.784086,100.0
2019-10-01 00:00:00,7.831574,-15.950864,29.491640,0.130428,19.890555,100.0
2019-06-27 00:00:00,8.901936,4.900310,-16.329546,22.685765,21.766952,100.0
2019-03-26 00:00:00,-0.361228,7.672079,4.858140,-29.997147,-19.830293,100.0
2018-12-24 00:00:00,16.677828,-0.661358,3.345478,2.128560,22.853301,100.0
2018-09-21 00:00:00,-8.950096,16.918229,-0.960210,2.556074,9.130997,100.0
2018-06-20 00:00:00,-12.811542,-10.434508,13.530538,-4.773072,-15.138405,100.0
2018-03-19 00:00:00,10.346009,-14.103526,-9.028909,11.872347,-4.855148,100.0
total,70.496389,68.948790,64.949903,38.159243,245.057212,1800.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 93)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA50rate>90'] = (allstock.loc[id, 'RS EMA50rate'] > 90)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS EMA250rate>70', 'RS EMA50rate>90', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:63]).prod()
    season2_profit = abs(roc_df.iloc[63:126]).prod()
    season3_profit = abs(roc_df.iloc[126:189]).prod()
    season4_profit = abs(roc_df.iloc[189:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [9]:
avg_profit_df2 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df2.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df2.loc['total'] = avg_profit_df2.sum()
display(avg_profit_df2)

,season1_profit,season2_profit,season3_profit,season4_profit,all_profit,number of stock
2022-07-18 00:00:00,-4.815885,8.216509,20.106230,13.887471,46.198307,100.0
2022-04-15 00:00:00,-10.587892,-2.348215,8.543280,16.551467,11.865500,100.0
2022-01-12 00:00:00,-9.027794,-0.940677,-9.986164,7.838750,-13.582597,100.0
2021-10-12 00:00:00,6.118097,-2.801704,-5.875702,-7.423744,-10.941729,100.0
2021-07-12 00:00:00,-15.598734,15.649064,-4.044109,-19.581964,-25.256951,100.0
2021-04-08 00:00:00,5.343734,-7.953383,18.726902,-7.301170,1.939855,100.0
2021-01-05 00:00:00,27.348516,14.380614,-13.948731,18.101851,41.923497,100.0
2020-10-05 00:00:00,14.628775,16.303130,3.152000,-9.718407,27.066449,100.0
2020-07-03 00:00:00,0.745821,9.564917,16.303736,-0.819822,31.116579,100.0
2020-04-01 00:00:00,32.229546,1.364135,5.994459,12.752593,70.208507,100.0
2019-12-30 00:00:00,-15.377350,38.749194,3.486819,10.061435,28.111069,100.0
2019-10-01 00:00:00,7.160926,-17.087956,25.109059,1.288760,17.870159,100.0
2019-06-27 00:00:00,15.129531,5.466297,-14.532275,26.197784,36.665825,100.0
2019-03-26 00:00:00,-1.597970,9.172799,3.129910,-30.723074,-21.351589,100.0
2018-12-24 00:00:00,17.191386,-0.702783,8.329642,5.125322,34.474437,100.0
2018-09-21 00:00:00,-11.134497,18.533995,-0.451470,1.213741,10.166956,100.0
2018-06-20 00:00:00,-13.480929,-10.669771,9.439981,-6.237982,-20.304208,100.0
2018-03-19 00:00:00,9.062523,-15.003880,-8.304476,8.888614,-9.213958,100.0
total,53.337804,79.892287,65.179093,40.101627,256.956107,1800.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 93)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS MA250rate<75'] = (allstock.loc[id, 'RS 250rate']<75)
            allstock.loc[id, 'RS MA250rate>55'] = (allstock.loc[id, 'RS 250rate']>55)
            allstock.loc[id, 'RS MA20rate>85'] = (allstock.loc[id, 'RS 20rate'] > 85)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>500k'] = (allstock.loc[id, 'Volume 50MA'] > 500*1000)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS MA20rate>85', 'RS MA250rate<75', 'RS MA250rate>55', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:63]).prod()
    season2_profit = abs(roc_df.iloc[63:126]).prod()
    season3_profit = abs(roc_df.iloc[126:189]).prod()
    season4_profit = abs(roc_df.iloc[189:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [16]:
avg_profit_df3 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df3.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df3.loc['total'] = avg_profit_df3.sum()
display(avg_profit_df3)

,season1_profit,season2_profit,season3_profit,season4_profit,all_profit,number of stock
2022-07-18 00:00:00,-3.876420,4.893419,6.351468,-1.260257,5.736450,100.0
2022-04-18 00:00:00,-1.982192,-3.150455,5.203982,10.751590,11.358124,100.0
2022-01-13 00:00:00,-5.902010,-6.389453,-5.319818,11.253888,-7.562948,100.0
2021-10-12 00:00:00,2.082938,0.608213,0.027720,-2.719573,-0.985526,100.0
2021-07-12 00:00:00,-5.625340,9.708045,0.610778,-9.883992,-8.554510,100.0
2021-04-09 00:00:00,4.581502,-2.623248,19.393335,-3.316184,14.530801,100.0
2021-01-06 00:00:00,28.579828,13.619765,-8.952025,8.980267,37.907722,100.0
2020-10-05 00:00:00,15.645263,15.615594,8.431115,-7.560091,38.851623,100.0
2020-07-06 00:00:00,-1.841862,11.005263,15.122892,-1.770629,24.141923,100.0
2020-04-06 00:00:00,4.758651,0.361941,3.931310,0.758625,13.602031,100.0
2019-12-31 00:00:00,-8.653843,11.922901,11.812001,5.650934,22.249366,100.0
2019-10-01 00:00:00,1.967727,-12.210154,16.704121,-2.071445,0.456596,100.0
2019-06-28 00:00:00,6.049869,4.696218,-8.120178,11.975233,12.532558,100.0
2019-03-27 00:00:00,-2.651024,1.138489,3.728890,-13.520043,-13.064668,100.0
2018-12-24 00:00:00,0.343204,1.801881,-0.128194,1.860386,4.376555,100.0
2018-09-25 00:00:00,-7.338444,5.601989,0.143213,-0.187736,-0.653025,100.0
2018-06-21 00:00:00,-2.368641,-1.873121,5.795956,-3.432994,-3.239373,100.0
2018-03-20 00:00:00,2.981581,-1.572479,-2.744043,17.315353,11.310701,100.0
total,26.750787,53.154807,71.992524,22.823332,162.994399,1800.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5000, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS MA250rate<75'] = (allstock.loc[id, 'RS 250rate']<75)
            allstock.loc[id, 'RS MA250rate>55'] = (allstock.loc[id, 'RS 250rate']>55)
            allstock.loc[id, 'RS MA20rate>85'] = (allstock.loc[id, 'RS 20rate'] > 85)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>500k'] = (allstock.loc[id, 'Volume 50MA'] > 500*1000)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS MA20rate>85', 'RS MA250rate<75', 'RS MA250rate>55', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [19]:
avg_profit_df4 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df4.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df4.loc['total'] = avg_profit_df4.sum()
display(avg_profit_df4)

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2023-06-26 00:00:00,3.115078,0.000000,0.000000,0.000000,0.000000,0.000000,3.115078,100.0
2023-04-24 00:00:00,12.446426,-0.613883,0.000000,0.000000,0.000000,0.000000,11.538424,100.0
2023-02-20 00:00:00,4.165959,5.393566,1.104768,0.000000,1.104768,0.000000,12.076367,100.0
2022-12-20 00:00:00,8.251711,7.716390,0.073451,-2.839676,0.073451,-2.839676,11.517281,100.0
2022-10-19 00:00:00,0.179715,4.568159,0.464913,3.888638,0.464913,3.888638,8.602352,100.0
...,...,...,...,...,...,...,...,...
2010-05-31 00:00:00,8.331928,3.594102,-4.680124,1.537337,-4.680124,1.537337,-1.709429,100.0
2010-03-29 00:00:00,-5.903173,7.781180,3.957559,-5.769210,3.957559,-5.769210,-1.403609,100.0
2010-01-25 00:00:00,1.619578,-0.862875,1.468014,-2.992696,1.468014,-2.992696,3.311775,100.0
2009-11-24 00:00:00,6.974640,1.143012,-4.961506,6.648320,-4.961506,6.648320,1.771078,100.0
total,118.534682,123.408609,70.512212,85.269464,70.512212,85.269464,517.380494,8100.0

In [ ]:
avg_profit_df4.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\year low sort, year high sort, RS MA20rate大於85, RS MA250rate小於75, RS MA250rate大於55, Volume 50MA大於100k.xlsx')

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>85)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 85)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['RS EMA250rate>85','RS EMA20rate>85', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.03', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    template2_df.dropna(inplace=True)
    template1_df = template1_df.sort_values(by='RS EMA250rate', ascending=True).iloc[-80:]
    template2_num = int(len(template1_df.index.values)/4)
    template2_df = template2_df.sort_values(by='RS EMA50rate', ascending=True).iloc[-template2_num:]
    print(f'T2 len:{len(template2_df.index.values)}')
    template2_df = template2_df.loc[~template2_df.index.isin(template1_df.index)]
    apexstock = pd.concat([template1_df, template2_df])
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'T1 len:{len(template1_df.index.values)}')
    print(f'T2 len:{len(template2_df.index.values)}')
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    f2 = 1
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                apexstock.drop(ID, inplace=True)
                continue
        try:
            if f2 == 1:
                rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
                # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
                f2 = 0
            else:
                rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
                rocp_df = pd.concat([rocp, rocp_df], axis=1)
        except Exception as e:
            print(e)
            apexstock.drop(ID, inplace=True)
            continue

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    print(len(apexstock.index.values))
    display(season1_profit.transpose())
    print(len(season1_profit.transpose()))
    apexstock.loc[apexstock.index.values, 'profit'] = season1_profit.transpose().values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose/' + str(day).split(' ')[0] + 'RS選股(ETF)' + '.xlsx', encoding='utf-8-sig')
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [4]:
avg_profit_df5 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df5.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df5.loc['total'] = avg_profit_df5.sum()
display(avg_profit_df5)
avg_profit_df5.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T6.xlsx')

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2023-06-26 00:00:00,-0.181915,0.000000,0.000000,0.000000,0.000000,0.000000,-0.181915,100.0
2023-04-24 00:00:00,0.174609,-0.338849,0.000000,0.000000,0.000000,0.000000,-0.199739,100.0
2023-02-20 00:00:00,0.071985,-0.050683,-0.165668,0.000000,-0.165668,0.000000,-0.148455,100.0
2022-12-19 00:00:00,0.650155,-0.135312,0.295611,0.034547,0.295611,0.034547,0.891574,100.0
2022-10-18 00:00:00,-0.051190,0.160351,-0.005979,2.127206,-0.005979,2.127206,2.336502,100.0
...,...,...,...,...,...,...,...,...
2010-05-28 00:00:00,0.054328,-0.206924,-0.327700,0.226069,-0.327700,0.226069,-0.537716,100.0
2010-03-29 00:00:00,0.024055,0.100050,-0.200283,-0.336174,-0.200283,-0.336174,-0.379539,100.0
2010-01-25 00:00:00,0.137129,0.220353,0.073290,-0.171938,0.073290,-0.171938,0.204875,100.0
2009-11-23 00:00:00,1.424444,-0.114111,-0.447083,0.211215,-0.447083,0.211215,-0.440563,100.0
total,12.632422,2.728215,4.899666,2.509082,4.899666,2.509082,28.678857,8100.0

In [10]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS EMA250rate<15'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA20rate<15'] = (allstock.loc[id, 'RS EMA20rate'] < 15)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.15'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['RS EMA250rate>85','RS EMA20rate>85', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.15', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    apexstock = template1_df.sort_values(by='RS EMA250rate', ascending=True).iloc[-50:]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    TAI = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/^TWII.csv', parse_dates=['Date'], index_col=['Date'])
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            TAI_initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            TAI_final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            TAI_profit = (TAI_final_price-TAI_initial_price)/TAI_initial_price
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T6/' + str(day).split(' ')[0] + 'RS選股(T6)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1 profit':profit_df.sum().values,
              'TAIEX profit':TAI_profit,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

     有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
ID
1101     台泥  上市   水泥工業     1962/02/09
1102     亞泥  上市   水泥工業     1962/06/08
1103     嘉泥  上市   水泥工業     1969/11/14
1104     環泥  上市   水泥工業     1971/02/01
1108     幸福  上市   水泥工業     1990/06/06
...     ...  ..    ...            ...
9949     琉園  上櫃  文化創意業     2003/11/21
9950    萬國通  上櫃   塑膠工業     2004/02/17
9951     皇田  上櫃   電機機械     2003/12/18
9960    邁達康  上櫃   運動休閒     2004/12/06
9962     有益  上櫃   鋼鐵工業     2006/07/10

[1788 rows x 4 columns]
day 2009-11-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2009-11-23 00:00:00

Date
2009-11-24    19.485565
2009-11-25    20.827906
Name: Adj Close, dtype: float64

Date
2010-01-20    23.685791
2010-01-21    22.213547
Name: Adj Close, dtype: float64

Date
2009-11-24    19.485565
2009-11-25    20.827906
Name: Adj Close, dtype: float64

Date
2010-01-20    23.685791
2010-01-21    22.213547
Name: Adj Close, dtype: float64

50
(0,)

ValueError: shape mismatch: value array of shape (0,) could not be broadcast to indexing result of shape (50,)

In [9]:
display(all_df)
avg_profit_df5 = pd.DataFrame([])
for ind in all_df.index.values:
    avg_profit_df5.loc[ind, 'season1 profit'] = 100*all_df.loc[ind, 'season1 profit']/all_df.loc[ind, 'number of stock']
    avg_profit_df5.loc[ind, 'TAIEX profit'] = all_df.loc[ind, 'TAIEX profit']*100
    avg_profit_df5.loc[ind, 'numbers of stock'] = all_df.loc[ind, 'number of stock']
avg_profit_df5.loc['total'] = avg_profit_df5.sum()
display(avg_profit_df5)
avg_profit_df5.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T6.xlsx')

            season1 profit  TAIEX profit  number of stock
2023-06-26       -1.045387     -0.115621               50
2023-04-24        7.145901      0.220867               50
2023-02-20        4.412379     -0.007143               50
2022-12-19        5.675999      0.110860               50
2022-10-18        3.673772     -0.028846               50
...                    ...           ...              ...
2010-07-29        1.507024     -0.188608               50
2010-05-28        2.392845     -0.221913               50
2010-03-29       -3.695570      0.179032               50
2010-01-25        6.420331     -0.123932               50
2009-11-23        9.468925      0.632653               50

[81 rows x 3 columns]

                     season1 profit  TAIEX profit  numbers of stock
2023-06-26 00:00:00       -2.090775    -11.562116              50.0
2023-04-24 00:00:00       14.291803     22.086712              50.0
2023-02-20 00:00:00        8.824758     -0.714289              50.0
2022-12-19 00:00:00       11.351998     11.085968              50.0
2022-10-18 00:00:00        7.347545     -2.884622              50.0
...                             ...           ...               ...
2010-05-28 00:00:00        4.785689    -22.191334              50.0
2010-03-29 00:00:00       -7.391140     17.903211              50.0
2010-01-25 00:00:00       12.840662    -12.393160              50.0
2009-11-23 00:00:00       18.937851     63.265326              50.0
total                    235.668417    -27.352960            4038.0

[82 rows x 3 columns]

In [14]:
TAI = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/^TWII.csv', parse_dates=['Date'], index_col=['Date'])
TAI_profit = []
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
    final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
    TAI_initial_price = TAI.loc[TAI.index>day, 'Adj Close'].iloc[0]
    TAI_final_price = TAI.loc[TAI.index<day2, 'Adj Close'].iloc[-1]
    TAI_profit.append((TAI_final_price-TAI_initial_price)/TAI_initial_price)
    print(day,day2)
    print(TAI_initial_price,TAI_final_price)
print(TAI_profit)

2009-11-23 00:00:00 2010-01-24 00:00:00
7714.53125 7927.279785
2010-01-24 00:00:00 2010-03-27 00:00:00
7872.960449 7876.830078
2010-03-27 00:00:00 2010-05-28 00:00:00
7947.419922 7243.132813
2010-05-28 00:00:00 2010-07-29 00:00:00
7373.952148 7784.78125
2010-07-29 00:00:00 2010-09-29 00:00:00
7760.601074 8189.40918
2010-09-29 00:00:00 2010-11-30 00:00:00
8237.748047 8367.137695
2010-11-30 00:00:00 2011-01-31 00:00:00
8520.078125 9145.31543
2011-01-31 00:00:00 2011-04-03 00:00:00
9111.425781 8705.097656
2011-04-03 00:00:00 2011-06-04 00:00:00
8851.948242 9046.24707
2011-06-04 00:00:00 2011-08-05 00:00:00
9057.06543 8317.237305
2011-08-05 00:00:00 2011-10-06 00:00:00
7552.770996 6989.124023
2011-10-06 00:00:00 2011-12-07 00:00:00
7211.932617 6956.253906
2011-12-07 00:00:00 2012-02-07 00:00:00
6982.874023 7687.951172
2012-02-07 00:00:00 2012-04-09 00:00:00
7869.880371 7706.230957
2012-04-09 00:00:00 2012-06-10 00:00:00
7640.651367 6999.624023
2012-06-10 00:00:00 2012-08-11 00:00:00
7120.203125 7441.092285
2012-08-11 00:00:00 2012-10-12 00:00:00
7436.271973 7451.692383
2012-10-12 00:00:00 2012-12-13 00:00:00
7418.87207 7690.161133
2012-12-13 00:00:00 2013-02-13 00:00:00
7698.741211 7906.619629
2013-02-13 00:00:00 2013-04-16 00:00:00
7943.499512 7763.500977
2013-04-16 00:00:00 2013-06-17 00:00:00
7809.041016 7937.709961
2013-06-17 00:00:00 2013-08-18 00:00:00
8010.989258 7924.969727
2013-08-18 00:00:00 2013-10-19 00:00:00
7900.179688 8441.158203
2013-10-19 00:00:00 2013-12-20 00:00:00
8419.288086 8407.368164
2013-12-20 00:00:00 2014-02-20 00:00:00
8456.427734 8576.977539
2014-02-20 00:00:00 2014-04-23 00:00:00
8601.828125 8974.676758
2014-04-23 00:00:00 2014-06-24 00:00:00
8945.416992 9228.31543
2014-06-24 00:00:00 2014-08-25 00:00:00
9242.125977 9380.06543
2014-08-25 00:00:00 2014-10-26 00:00:00
9393.925781 8645.977539
2014-10-26 00:00:00 2014-12-27 00:00:00
8627.748047 9214.036133
2014-12-27 00:00:00 2015-02-27 00:00:00
9286.246094 9622.063477
2015-02-27 00:00:00 2015-04-30 00:00:00
9601.324219 9853.792969
2015-04-30 00:00:00 2015-07-01 00:00:00
9845.00293 9322.985352
2015-07-01 00:00:00 2015-09-01 00:00:00
9379.206055 8174.88916
2015-09-01 00:00:00 2015-11-02 00:00:00
8035.259277 8554.277344
2015-11-02 00:00:00 2016-01-03 00:00:00
8713.158203 8338.027344
2016-01-03 00:00:00 2016-03-05 00:00:00
8114.229004 8643.530273
2016-03-05 00:00:00 2016-05-06 00:00:00
8659.530273 8167.941406
2016-05-06 00:00:00 2016-07-07 00:00:00
8131.811523 8575.737305
2016-07-07 00:00:00 2016-09-07 00:00:00
8640.897461 9181.836914
2016-09-07 00:00:00 2016-11-08 00:00:00
9262.876953 9189.827148
2016-11-08 00:00:00 2017-01-09 00:00:00
8943.1875 9372.212891
2017-01-09 00:00:00 2017-03-12 00:00:00
9349.632813 9627.882813
2017-03-12 00:00:00 2017-05-13 00:00:00
9697.333008 9986.820313
2017-05-13 00:00:00 2017-07-14 00:00:00
10036.820313 10460.150391
2017-07-14 00:00:00 2017-09-14 00:00:00
10457.540039 10532.879883
2017-09-14 00:00:00 2017-11-15 00:00:00
10580.410156 10687.179688
2017-11-15 00:00:00 2018-01-16 00:00:00
10625.040039 10956.30957
2018-01-16 00:00:00 2018-03-19 00:00:00
11004.799805 11027.700195
2018-03-19 00:00:00 2018-05-20 00:00:00
11010.839844 10830.839844
2018-05-20 00:00:00 2018-07-21 00:00:00
10966.200195 10932.110352
2018-07-21 00:00:00 2018-09-21 00:00:00
10946.889648 10831.410156
2018-09-21 00:00:00 2018-11-22 00:00:00
10978.849609 9741.519531
2018-11-22 00:00:00 2019-01-23 00:00:00
9667.299805 9894.660156
2019-01-23 00:00:00 2019-03-26 00:00:00
9877.120117 10479.480469
2019-03-26 00:00:00 2019-05-27 00:00:00
10542.700195 10328.280273
2019-05-27 00:00:00 2019-07-28 00:00:00
10312.30957 10891.980469
2019-07-28 00:00:00 2019-09-28 00:00:00
10885.730469 10829.679688
2019-09-28 00:00:00 2019-11-29 00:00:00
10967.650391 11617.080078
2019-11-29 00:00:00 2020-01-30 00:00:00
11502.830078 12118.709961
2020-01-30 00:00:00 2020-04-01 00:00:00
11495.099609 9708.05957
2020-04-01 00:00:00 2020-06-02 00:00:00
9818.740234 11079.019531
2020-06-02 00:00:00 2020-08-03 00:00:00
11320.160156 12664.799805
2020-08-03 00:00:00 2020-10-04 00:00:00
12709.919922 12515.610352
2020-10-04 00:00:00 2020-12-05 00:00:00
12548.280273 14132.44043
2020-12-05 00:00:00 2021-02-05 00:00:00
14256.599609 15706.219727
2021-02-05 00:00:00 2021-04-08 00:00:00
16362.290039 16815.359375
2021-04-08 00:00:00 2021-06-09 00:00:00
16854.099609 17076.210938
2021-06-09 00:00:00 2021-08-10 00:00:00
17159.220703 17485.150391
2021-08-10 00:00:00 2021-10-11 00:00:00
17227.179688 16640.429688
2021-10-11 00:00:00 2021-12-12 00:00:00
16462.839844 17826.259766
2021-12-12 00:00:00 2022-02-12 00:00:00
17767.599609 18310.939453
2022-02-12 00:00:00 2022-04-15 00:00:00
17997.669922 17245.650391
2022-04-15 00:00:00 2022-06-16 00:00:00
16898.869141 15999.25
2022-06-16 00:00:00 2022-08-17 00:00:00
15641.259766 15420.570313
2022-08-17 00:00:00 2022-10-18 00:00:00
15396.759766 12966.049805
2022-10-18 00:00:00 2022-12-19 00:00:00
12976.759766 14528.549805
2022-12-19 00:00:00 2023-02-19 00:00:00
14170.030273 15479.700195
2023-02-19 00:00:00 2023-04-22 00:00:00
15551.230469 15602.990234
2023-04-22 00:00:00 2023-06-23 00:00:00
15626.870117 17202.400391
2023-06-23 00:00:00 2023-08-24 00:00:00
17059.240234 16843.679688
[0.027577636035890026, 0.0004915087564667384, -0.08861833348586458, 0.05571355682195833, 0.05525449664416026, 0.015706919811309485, 0.07338398730938873, -0.044595449138960616, 0.02194983778577758, -0.08168519160184536, -0.07462783835211093, -0.03545217690987759, 0.10097234271700102, -0.020794396647125405, -0.08389694977689983, 0.04506741652823278, 0.002073674827385139, 0.036567427021288325, 0.0270016113417324, -0.022659853472399964, 0.016476920115590214, -0.010737691467267715, 0.06847673551295567, -0.0014157874012913248, 0.014255405330943107, 0.043345278187594524, 0.03162495814929587, 0.01492507820638646, -0.07962041210851253, 0.06795377922560707, 0.036162877830362136, 0.02629520097867242, -0.05302360819104407, -0.12840286138697066, 0.06459257244948263, -0.04305337401894535, 0.06523124609116597, -0.056768537264977395, 0.05459125322130271, 0.06260223031710375, -0.007886297677347604, 0.04797231311542995, 0.029760527024453105, 0.029852259869923254, 0.042177708158398414, 0.007204356255776234, 0.010091246976796336, 0.03117819130883747, 0.0020809456242533507, -0.016347526850831923, -0.0031086285489793346, -0.010549068796093923, -0.11270125031913085, 0.023518495917795666, 0.060985423368826654, -0.02033823574929033, 0.05621154941724666, -0.005149014221840175, 0.05921320099088138, 0.05354159618317884, -0.15546103120331833, 0.12835448000100325, 0.11878274074482102, -0.015288024723402302, 0.12624520034100772, 0.10168063617953282, 0.027689848726559448, 0.013178474920214255, 0.018994434166990863, -0.03405955069991605, 0.08281802744360106, 0.030580374161784628, -0.04178427175624261, -0.053235464071222684, -0.0141094423532125, -0.1578715260835355, 0.1195822429467946, 0.09242534396665922, 0.003328338879883441, 0.10082187041959394, -0.012635999202964305]

In [21]:
T9excel = pd.read_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T9.xlsx')
T9excel.set_index('Unnamed: 0', inplace=True)
# TAI_profit.append(np.sum(TAI_profit))
# T9excel['TAIEX'] = TAI_profit
T9excel['TAIEX'] = T9excel['TAIEX']*100
print(T9excel)
T9excel.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T9.xlsx')

                      T9 profit   T1 profit  numbers of stock     T1-T9  \
Unnamed: 0
2009-11-23 00:00:00   14.677741   18.937851                50  4.260110
2010-01-25 00:00:00   10.161955   12.840662                50  2.678707
2010-03-29 00:00:00   -6.511397   -7.391140                50 -0.879743
2010-05-28 00:00:00    7.750917    4.785689                50 -2.965227
2010-07-29 00:00:00    0.918534    3.014049                50  2.095515
...                         ...         ...               ...       ...
2022-12-19 00:00:00   12.923249   11.351998                50 -1.571251
2023-02-20 00:00:00    8.824758    8.824758                50  0.000000
2023-04-24 00:00:00   14.807163   14.291803                50 -0.515360
2023-06-26 00:00:00   -3.400260   -2.090775                50  1.309485
total                196.150579  235.668417              4011       NaN

                         TAIEX
Unnamed: 0
2009-11-23 00:00:00   2.757764
2010-01-25 00:00:00   0.049151
2010-03-29 00:00:00  -8.861833
2010-05-28 00:00:00   5.571356
2010-07-29 00:00:00   5.525450
...                        ...
2022-12-19 00:00:00   9.242534
2023-02-20 00:00:00   0.332834
2023-04-24 00:00:00  10.082187
2023-06-26 00:00:00  -1.263600
total                96.068598

[82 rows x 5 columns]

In [22]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS EMA20rate<99'] = (allstock.loc[id, 'RS EMA20rate'] < 99)
            allstock.loc[id, 'RS EMA250rate<15'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA20rate<15'] = (allstock.loc[id, 'RS EMA20rate'] < 15)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.15'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['RS EMA250rate>85','RS EMA20rate>85', 'RS EMA20rate<99', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.15', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    apexstock = template1_df.sort_values(by='RS EMA250rate', ascending=True).iloc[-50:]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    TAI = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/^TWII.csv', parse_dates=['Date'], index_col=['Date'])
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            TAI_initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            TAI_final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            TAI_profit = (TAI_final_price-TAI_initial_price)/TAI_initial_price
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T6-/' + str(day).split(' ')[0] + 'RS選股(T6-)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1 profit':profit_df.sum().values,
              'TAIEX profit':TAI_profit,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

     有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
ID
1101     台泥  上市   水泥工業     1962/02/09
1102     亞泥  上市   水泥工業     1962/06/08
1103     嘉泥  上市   水泥工業     1969/11/14
1104     環泥  上市   水泥工業     1971/02/01
1108     幸福  上市   水泥工業     1990/06/06
...     ...  ..    ...            ...
9949     琉園  上櫃  文化創意業     2003/11/21
9950    萬國通  上櫃   塑膠工業     2004/02/17
9951     皇田  上櫃   電機機械     2003/12/18
9960    邁達康  上櫃   運動休閒     2004/12/06
9962     有益  上櫃   鋼鐵工業     2006/07/10

[1788 rows x 4 columns]
day 2009-11-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2009-11-24 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2009-11-24        8.210346      0.098039               50

day 2010-01-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-01-25 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2010-03-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-03-29 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2010-05-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-05-31 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2010-07-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-07-30 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2010-09-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-09-30 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2010-12-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2010-12-01 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-02-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-04-06 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-06-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-06-07 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-08-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-08-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-10-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2011-10-07 00:00:00
43
(43, 2)

            season1 profit  TAIEX profit  number of stock
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2011-12-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-12-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-02-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-04-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-04-10 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-06-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-06-11 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-08-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-08-13 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-10-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-10-15 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2012-12-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2012-12-14 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-02-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-02-18 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-04-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-04-17 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-06-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-06-18 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-08-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-08-19 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-10-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-10-21 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2013-12-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2013-12-23 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-02-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-02-21 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-04-24 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-06-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-06-25 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-08-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-08-26 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-10-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-10-27 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2014-12-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2014-12-29 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2015-03-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2015-03-02 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2015-05-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2015-05-04 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2015-07-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2015-07-02 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2015-09-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2015-09-02 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2015-11-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2015-11-03 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-01-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-01-04 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-03-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-03-07 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-05-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-05-09 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-07-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-07-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-09-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-09-08 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2016-11-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2016-11-09 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-01-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-01-10 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-03-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-03-13 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-05-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-05-15 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-07-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-07-17 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-09-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-09-15 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2017-11-16 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-11-16 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-01-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-01-17 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-03-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-03-20 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-05-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-05-21 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-07-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-07-23 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-09-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-09-25 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2018-11-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2018-11-23 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-01-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-01-24 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-03-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-03-27 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-03-27       -4.254132      0.156716               50
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-05-28 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-05-28 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-05-28        4.048715     -0.080074               50
2019-03-27       -4.254132      0.156716               50
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-07-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-07-29 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-07-29        2.912101      0.627034               50
2019-05-28        4.048715     -0.080074               50
2019-03-27       -4.254132      0.156716               50
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-10-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-10-01 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-10-01        1.563441     -0.188474               50
2019-07-29        2.912101      0.627034               50
2019-05-28        4.048715     -0.080074               50
2019-03-27       -4.254132      0.156716               50
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2019-12-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2019-12-02 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2019-12-02       -1.488216      0.227920               50
2019-10-01        1.563441     -0.188474               50
2019-07-29        2.912101      0.627034               50
2019-05-28        4.048715     -0.080074               50
2019-03-27       -4.254132      0.156716               50
2019-01-24        6.176410     -0.033835               50
2018-11-23        2.909792      0.128972               50
2018-09-25       -7.432329     -0.162123               50
2018-07-23       -4.948430     -0.276901               50
2018-05-21       -0.716963     -0.148406               50
2018-03-20        3.400613      0.586428               50
2018-01-17       -0.698092     -0.082682               50
2017-11-16        2.543152     -0.307692               50
2017-09-15        1.440125     -0.192715               50
2017-07-17        6.152780      0.156364               50
2017-05-15        2.687361     -0.251027               50
2017-03-13       -0.858822      0.420091               50
2017-01-10        6.769020      0.006568               50
2016-11-09        2.511209      0.081597               50
2016-09-08       -4.246093     -0.209040               50
2016-07-08        2.954023     -0.049197               50
2016-05-09        3.055627      0.022925               50
2016-03-07       -1.781462     -0.282424               50
2016-01-04        4.830211      0.064516               50
2015-11-03       -1.025104      0.273109               50
2015-09-02        4.966936     -0.215054               50
2015-07-02      -10.438151     -0.034152               50
2015-05-04        3.175161      0.228137               50
2015-03-02        2.863670     -0.096540               50
2014-12-29       -0.226749     -0.032500               50
2014-10-27        3.669511     -0.001196               50
2014-08-26       -5.497451     -0.202797               50
2014-06-25       -6.080799     -0.376339               50
2014-04-24        6.915393      0.084778               50
2014-02-21        1.305917      0.086507               50
2013-12-23        7.308851      0.461039               50
2013-10-21        0.993303     -0.165198               50
2013-08-19        5.136622      0.128742               50
2013-06-18        2.683726     -0.286957               50
2013-04-17        5.349787      0.294294               50
2013-02-18        3.931860      0.294546               50
2012-12-14        2.573782      0.088889               50
2012-10-15        2.073854     -0.092348               50
2012-08-13       -1.034750     -0.110075               50
2012-06-11        3.624690      0.151943               50
2012-04-10       -4.778792     -0.069836               50
2012-02-08       -4.078108     -0.142694               50
2011-12-08        5.292167      0.071192               50
2011-10-07       -2.922643     -0.138783               43
2011-08-08       -9.196396     -0.315961               50
2011-06-07       -3.330812      0.008919               50
2011-04-06        1.034031      0.118881               50
2011-02-08       -0.190245     -0.090305               50
2010-12-01       -1.601203     -0.074013               50
2010-09-30        0.325952     -0.094620               50
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

day 2020-01-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-01-31 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-01-31       -8.491444      0.067961               50
2019-12-02       -1.488216      0.227920               50
2019-10-01        1.563441     -0.188474               50
2019-07-29        2.912101      0.627034               50
2019-05-28        4.048715     -0.080074               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[61 rows x 3 columns]

day 2020-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-04-06 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-04-06       18.992023      0.024590               50
2020-01-31       -8.491444      0.067961               50
2019-12-02       -1.488216      0.227920               50
2019-10-01        1.563441     -0.188474               50
2019-07-29        2.912101      0.627034               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[62 rows x 3 columns]

day 2020-06-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-06-03 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-06-03        6.924023     -0.218703               50
2020-04-06       18.992023      0.024590               50
2020-01-31       -8.491444      0.067961               50
2019-12-02       -1.488216      0.227920               50
2019-10-01        1.563441     -0.188474               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[63 rows x 3 columns]

day 2020-08-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-08-04 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-08-04       -0.407752     -0.131552               50
2020-06-03        6.924023     -0.218703               50
2020-04-06       18.992023      0.024590               50
2020-01-31       -8.491444      0.067961               50
2019-12-02       -1.488216      0.227920               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[64 rows x 3 columns]

day 2020-10-05 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-10-05 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-10-05        0.043338     -0.222222               50
2020-08-04       -0.407752     -0.131552               50
2020-06-03        6.924023     -0.218703               50
2020-04-06       18.992023      0.024590               50
2020-01-31       -8.491444      0.067961               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[65 rows x 3 columns]

day 2020-12-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-12-07 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2020-12-07        1.454168     -0.120690               50
2020-10-05        0.043338     -0.222222               50
2020-08-04       -0.407752     -0.131552               50
2020-06-03        6.924023     -0.218703               50
2020-04-06       18.992023      0.024590               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[66 rows x 3 columns]

day 2021-02-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-02-17 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-02-17       10.286155     -0.006897               50
2020-12-07        1.454168     -0.120690               50
2020-10-05        0.043338     -0.222222               50
2020-08-04       -0.407752     -0.131552               50
2020-06-03        6.924023     -0.218703               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[67 rows x 3 columns]

day 2021-04-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-04-09 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-04-09        0.050397     -0.015152               50
2021-02-17       10.286155     -0.006897               50
2020-12-07        1.454168     -0.120690               50
2020-10-05        0.043338     -0.222222               50
2020-08-04       -0.407752     -0.131552               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[68 rows x 3 columns]

day 2021-06-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-06-10 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-06-10        5.307813      0.120690               50
2021-04-09        0.050397     -0.015152               50
2021-02-17       10.286155     -0.006897               50
2020-12-07        1.454168     -0.120690               50
2020-10-05        0.043338     -0.222222               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[69 rows x 3 columns]

day 2021-08-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-08-11 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-08-11       -3.205571     -0.218354               50
2021-06-10        5.307813      0.120690               50
2021-04-09        0.050397     -0.015152               50
2021-02-17       10.286155     -0.006897               50
2020-12-07        1.454168     -0.120690               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[70 rows x 3 columns]

day 2021-10-12 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-10-12 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-10-12        5.659074      0.771242               50
2021-08-11       -3.205571     -0.218354               50
2021-06-10        5.307813      0.120690               50
2021-04-09        0.050397     -0.015152               50
2021-02-17       10.286155     -0.006897               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[71 rows x 3 columns]

day 2021-12-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2021-12-13 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2021-12-13       -0.597251     -0.235115               50
2021-10-12        5.659074      0.771242               50
2021-08-11       -3.205571     -0.218354               50
2021-06-10        5.307813      0.120690               50
2021-04-09        0.050397     -0.015152               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[72 rows x 3 columns]

day 2022-02-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-02-14 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-02-14       -0.512173      0.051173               50
2021-12-13       -0.597251     -0.235115               50
2021-10-12        5.659074      0.771242               50
2021-08-11       -3.205571     -0.218354               50
2021-06-10        5.307813      0.120690               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[73 rows x 3 columns]

day 2022-04-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-04-18 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-04-18       -3.821741     -0.135325               50
2022-02-14       -0.512173      0.051173               50
2021-12-13       -0.597251     -0.235115               50
2021-10-12        5.659074      0.771242               50
2021-08-11       -3.205571     -0.218354               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[74 rows x 3 columns]

day 2022-06-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-06-17 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-06-17        7.407422      0.045278               50
2022-04-18       -3.821741     -0.135325               50
2022-02-14       -0.512173      0.051173               50
2021-12-13       -0.597251     -0.235115               50
2021-10-12        5.659074      0.771242               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[75 rows x 3 columns]

day 2022-08-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-08-18 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-08-18       -7.751963     -0.113150               50
2022-06-17        7.407422      0.045278               50
2022-04-18       -3.821741     -0.135325               50
2022-02-14       -0.512173      0.051173               50
2021-12-13       -0.597251     -0.235115               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[76 rows x 3 columns]

day 2022-10-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-10-19 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-10-19        4.641322     -0.067857               50
2022-08-18       -7.751963     -0.113150               50
2022-06-17        7.407422      0.045278               50
2022-04-18       -3.821741     -0.135325               50
2022-02-14       -0.512173      0.051173               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[77 rows x 3 columns]

day 2022-12-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2022-12-20 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2022-12-20        7.307742      0.100897               50
2022-10-19        4.641322     -0.067857               50
2022-08-18       -7.751963     -0.113150               50
2022-06-17        7.407422      0.045278               50
2022-04-18       -3.821741     -0.135325               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[78 rows x 3 columns]

day 2023-02-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2023-02-20 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2023-02-20        5.709771     -0.007143               50
2022-12-20        7.307742      0.100897               50
2022-10-19        4.641322     -0.067857               50
2022-08-18       -7.751963     -0.113150               50
2022-06-17        7.407422      0.045278               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[79 rows x 3 columns]

day 2023-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2023-04-24 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2023-04-24        6.156398      0.220867               50
2023-02-20        5.709771     -0.007143               50
2022-12-20        7.307742      0.100897               50
2022-10-19        4.641322     -0.067857               50
2022-08-18       -7.751963     -0.113150               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[80 rows x 3 columns]

day 2023-06-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2023-06-26 00:00:00
50
(50, 2)

            season1 profit  TAIEX profit  number of stock
2023-06-26        0.881193      0.104670               50
2023-04-24        6.156398      0.220867               50
2023-02-20        5.709771     -0.007143               50
2022-12-20        7.307742      0.100897               50
2022-10-19        4.641322     -0.067857               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[81 rows x 3 columns]

In [24]:
display(all_df)
avg_profit_df6 = pd.DataFrame([])
for ind in all_df.index.values:
    avg_profit_df6.loc[ind, 'season1 profit'] = 100*all_df.loc[ind, 'season1 profit']/all_df.loc[ind, 'number of stock']
    avg_profit_df6.loc[ind, 'numbers of stock'] = all_df.loc[ind, 'number of stock']
avg_profit_df6.loc['total'] = avg_profit_df6.sum()
display(avg_profit_df6)
avg_profit_df6.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T6-.xlsx')

            season1 profit  TAIEX profit  number of stock
2023-06-26        0.881193      0.104670               50
2023-04-24        6.156398      0.220867               50
2023-02-20        5.709771     -0.007143               50
2022-12-20        7.307742      0.100897               50
2022-10-19        4.641322     -0.067857               50
...                    ...           ...              ...
2010-07-30        1.119467     -0.137097               50
2010-05-31        2.348902     -0.075130               50
2010-03-29       -3.644393      0.155556               50
2010-01-25        6.050739     -0.123932               50
2009-11-24        8.210346      0.098039               50

[81 rows x 3 columns]

                     season1 profit  numbers of stock
2023-06-26 00:00:00        1.762385              50.0
2023-04-24 00:00:00       12.312797              50.0
2023-02-20 00:00:00       11.419541              50.0
2022-12-20 00:00:00       14.615484              50.0
2022-10-19 00:00:00        9.282644              50.0
...                             ...               ...
2010-05-31 00:00:00        4.697804              50.0
2010-03-29 00:00:00       -7.288786              50.0
2010-01-25 00:00:00       12.101478              50.0
2009-11-24 00:00:00       16.420692              50.0
total                    219.992564            4043.0

[82 rows x 2 columns]