In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>50MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '50MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>75'] = (allstock.loc[id, 'RS EMA250rate']>75)
            allstock.loc[id, 'RS EMA50rate>80'] = (allstock.loc[id, 'RS EMA50rate'] > 80)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'RS EMA20rate>80', 'RS EMA250rate>75', 'Price>50MA', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [3]:
avg_profit_df3 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df3.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df3.loc['total'] = avg_profit_df3.sum()
display(avg_profit_df3)

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2022-06-17 00:00:00,5.051134,-10.494660,13.184949,8.392633,13.184949,8.392633,30.712988,100.0
2022-04-18 00:00:00,-9.213736,3.344685,-9.275742,12.461088,-9.275742,12.461088,8.676901,100.0
2022-02-14 00:00:00,-0.558805,-3.341566,-0.132781,-12.209894,-0.132781,-12.209894,-3.350434,100.0
2021-12-13 00:00:00,-4.968352,-10.058267,-3.344245,7.042507,-3.344245,7.042507,-15.948079,100.0
2021-10-12 00:00:00,8.882910,-3.014714,-0.032959,-8.734773,-0.032959,-8.734773,-10.474087,100.0
2021-08-11 00:00:00,-1.264035,10.898360,-0.747253,-1.547361,-0.747253,-1.547361,-2.464498,100.0
2021-06-10 00:00:00,11.112004,-10.027091,17.249973,-2.406935,17.249973,-2.406935,8.962369,100.0
2021-04-09 00:00:00,-3.468964,11.689067,-9.469890,17.387131,-9.469890,17.387131,5.332209,100.0
2021-02-17 00:00:00,21.837272,0.285416,-2.652125,1.679292,-2.652125,1.679292,30.896354,100.0
2020-12-07 00:00:00,3.460317,38.192134,-4.344083,2.674041,-4.344083,2.674041,59.086226,100.0
2020-10-05 00:00:00,9.514666,-0.357938,27.599695,0.964330,27.599695,0.964330,36.967599,100.0
2020-08-04 00:00:00,5.084595,7.426933,-0.153461,20.543132,-0.153461,20.543132,33.529317,100.0
2020-06-03 00:00:00,14.977380,1.048422,4.791001,-0.573063,4.791001,-0.573063,37.728539,100.0
2020-04-06 00:00:00,31.599686,11.481244,-0.177947,1.629991,-0.177947,1.629991,69.565852,100.0
2020-01-31 00:00:00,-14.588663,35.947237,10.277483,2.596567,10.277483,2.596567,30.335138,100.0
2019-12-02 00:00:00,-1.018012,-10.299738,21.387764,10.133483,21.387764,10.133483,36.938336,100.0
2019-10-01 00:00:00,2.206627,-1.874563,-11.061565,16.820267,-11.061565,16.820267,16.361906,100.0
2019-07-29 00:00:00,1.825988,3.330194,-5.061371,-9.987500,-5.061371,-9.987500,16.168328,100.0
2019-05-28 00:00:00,5.277968,-0.714494,-0.262719,-3.796717,-0.262719,-3.796717,0.861639,100.0
2019-03-27 00:00:00,-9.615323,14.275705,0.482799,0.523884,0.482799,0.523884,-20.197044,100.0
2019-01-24 00:00:00,11.905913,-6.132998,5.734479,6.614888,5.734479,6.614888,23.402427,100.0
2018-11-23 00:00:00,5.791747,16.384590,-5.886796,0.164403,-5.886796,0.164403,19.513534,100.0
2018-09-25 00:00:00,-10.925760,4.199171,15.202531,-5.463879,15.202531,-5.463879,11.147999,100.0
2018-07-23 00:00:00,-9.546484,-9.666021,6.497362,15.871253,6.497362,15.871253,3.693676,100.0
2018-05-21 00:00:00,3.904637,-11.074362,-16.246186,3.344486,-16.246186,3.344486,-16.319367,100.0
2018-03-20 00:00:00,4.361753,-0.379907,-10.699297,-13.489912,-10.699297,-13.489912,-9.057785,100.0
total,81.626461,81.066839,42.859615,70.633340,42.859615,70.633340,402.070043,2600.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5000, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>50MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '50MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>75'] = (allstock.loc[id, 'RS EMA250rate']>75)
            allstock.loc[id, 'RS EMA50rate>80'] = (allstock.loc[id, 'RS EMA50rate'] > 80)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'RS EMA20rate>80', 'RS EMA250rate>75', 'Price>50MA', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [6]:
avg_profit_df4 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df4.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df4.loc['total'] = avg_profit_df4.sum()
display(avg_profit_df4)

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2023-06-26 00:00:00,-2.477569,0.000000,0.000000,0.000000,0.000000,0.000000,-2.477569,100.0
2023-04-24 00:00:00,9.078621,-1.493184,0.000000,0.000000,0.000000,0.000000,7.376312,100.0
2023-02-20 00:00:00,8.469134,13.287433,-3.237114,0.000000,-3.237114,0.000000,18.403126,100.0
2022-12-20 00:00:00,14.585216,7.892887,10.210053,-4.492510,10.210053,-4.492510,32.175576,100.0
2022-10-19 00:00:00,5.922969,6.254707,5.611613,6.335308,5.611613,6.335308,19.647720,100.0
...,...,...,...,...,...,...,...,...
2010-05-31 00:00:00,4.527580,5.486061,-3.690799,7.968227,-3.690799,7.968227,14.386604,100.0
2010-03-29 00:00:00,-6.189211,11.298808,1.862514,-4.347457,1.862514,-4.347457,4.135807,100.0
2010-01-25 00:00:00,6.337736,-9.060182,9.627639,-0.401594,9.627639,-0.401594,9.092972,100.0
2009-11-24 00:00:00,15.595328,6.499772,-8.924138,5.018214,-8.924138,5.018214,11.036812,100.0
total,249.052675,198.237221,137.873615,128.359834,137.873615,128.359834,903.047631,8100.0

In [ ]:
avg_profit_df4.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\year low sort, RS EMA20rate大於80, RS EMA250rate大於75, Price大於50MA, Volume 50MA大於100k.xlsx')

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>85)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 85)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.15'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['RS EMA250rate>85','RS EMA20rate>85', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.15', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    template2_df.dropna(inplace=True)
    template1_df = template1_df.sort_values(by='RS EMA250rate', ascending=True).iloc[-80:]
    template2_num = int(len(template1_df.index.values)/4)
    template2_df = template2_df.sort_values(by='RS EMA250rate', ascending=True)
    print(f'T2 len:{len(template2_df.index.values)}')
    template2_df = template2_df.loc[~template2_df.index.isin(template1_df.index)].iloc[-template2_num:]
    apexstock = pd.concat([template1_df, template2_df])
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'T1 len:{len(template1_df.index.values)}')
    print(f'T2 len:{len(template2_df.index.values)}')
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T7/' + str(day).split(' ')[0] + 'RS選股(T7)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1_profit':profit_df.sum().values,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [4]:
avg_profit_df5 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df5.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df5.loc['total'] = avg_profit_df5.sum()
display(avg_profit_df5)
avg_profit_df5.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T7.xlsx')

                     season1_profit  number of stock
2023-06-26 00:00:00       -1.631262            100.0
2023-04-24 00:00:00       18.098566            100.0
2023-02-20 00:00:00        8.609349            100.0
2022-12-19 00:00:00       12.466069            100.0
2022-10-18 00:00:00        8.932519            100.0
...                             ...              ...
2010-05-28 00:00:00        5.125907            100.0
2010-03-29 00:00:00       -8.678513            100.0
2010-01-25 00:00:00       11.074321            100.0
2009-11-23 00:00:00       13.625859            100.0
total                    202.918152           8100.0

[82 rows x 2 columns]

In [6]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>85)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 85)
            allstock.loc[id, 'RS EMA250rate>75'] = (allstock.loc[id, 'RS EMA250rate']>75)
            allstock.loc[id, 'RS EMA20rate<99'] = (allstock.loc[id, 'RS EMA20rate'] < 99)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.5'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = any([all(allstock.loc[id, ['RS EMA250rate>85','RS EMA20rate>85', 'RS EMA20rate<99', 'Volume 50MA>100k']]), all(allstock.loc[id, ['RS EMA250rate>75','RS 250EMA is 10MAX', 'RS EMA20rate<99', 'Volume 50MA>100k']])])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.5', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price','RS 250EMA is 10MAX'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    apexstock = template1_df.sort_values(by='RS EMA250rate', ascending=True)
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    
    # template1_df.dropna(inplace=True)
    # template2_df.dropna(inplace=True)
    # template1_df = template1_df.sort_values(by='RS MA250rate', ascending=True)
    # template2_num = int(len(template1_df.index.values)/4)
    # template2_df = template2_df.sort_values(by='RS MA250rate', ascending=True)
    # print(f'T2 len:{len(template2_df.index.values)}')
    # template2_df = template2_df.loc[~template2_df.index.isin(template1_df.index)].iloc[-template2_num:]
    # apexstock = pd.concat([template1_df, template2_df])
    # apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    # apexstock = apexstock.dropna()
    # print(f'T1 len:{len(template1_df.index.values)}')
    # print(f'T2 len:{len(template2_df.index.values)}')
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T10/' + str(day).split(' ')[0] + 'RS選股(T10)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1_profit':profit_df.sum().values,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

     有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
ID
1101     台泥  上市   水泥工業     1962/02/09
1102     亞泥  上市   水泥工業     1962/06/08
1103     嘉泥  上市   水泥工業     1969/11/14
1104     環泥  上市   水泥工業     1971/02/01
1108     幸福  上市   水泥工業     1990/06/06
...     ...  ..    ...            ...
9949     琉園  上櫃  文化創意業     2003/11/21
9950    萬國通  上櫃   塑膠工業     2004/02/17
9951     皇田  上櫃   電機機械     2003/12/18
9960    邁達康  上櫃   運動休閒     2004/12/06
9962     有益  上櫃   鋼鐵工業     2006/07/10

[1788 rows x 4 columns]
day 2009-11-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:74
2009-11-24 00:00:00
apexstock len:74
2009-11-24 00:00:00
74
(74, 2)

            season1_profit  number of stock
2009-11-24        12.61007               74

day 2010-01-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:68
2010-01-25 00:00:00
apexstock len:68
2010-01-25 00:00:00
68
(68, 2)

            season1_profit  number of stock
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2010-03-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:70
2010-03-29 00:00:00
apexstock len:70
2010-03-29 00:00:00
70
(70, 2)

            season1_profit  number of stock
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2010-05-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:77
2010-05-31 00:00:00
apexstock len:77
2010-05-31 00:00:00
77
(77, 2)

            season1_profit  number of stock
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2010-07-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:66
2010-07-30 00:00:00
apexstock len:66
2010-07-30 00:00:00
66
(66, 2)

            season1_profit  number of stock
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2010-09-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:73
2010-09-30 00:00:00
apexstock len:73
2010-09-30 00:00:00
73
(73, 2)

            season1_profit  number of stock
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2010-12-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:88
2010-12-01 00:00:00
apexstock len:88
2010-12-01 00:00:00
88
(88, 2)

            season1_profit  number of stock
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:87
2011-02-08 00:00:00
apexstock len:87
2011-02-08 00:00:00
87
(87, 2)

            season1_profit  number of stock
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:83
2011-04-06 00:00:00
apexstock len:83
2011-04-06 00:00:00
83
(83, 2)

            season1_profit  number of stock
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-06-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:81
2011-06-07 00:00:00
apexstock len:81
2011-06-07 00:00:00
81
(81, 2)

            season1_profit  number of stock
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-08-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:72
2011-08-08 00:00:00
apexstock len:72
2011-08-08 00:00:00
72
(72, 2)

            season1_profit  number of stock
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-10-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2011-10-07 00:00:00
apexstock len:50
2011-10-07 00:00:00
50
(50, 2)

            season1_profit  number of stock
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2011-12-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:59
2011-12-08 00:00:00
apexstock len:59
2011-12-08 00:00:00
59
(59, 2)

            season1_profit  number of stock
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:60
2012-02-08 00:00:00
apexstock len:60
2012-02-08 00:00:00
60
(60, 2)

            season1_profit  number of stock
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-04-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:64
2012-04-10 00:00:00
apexstock len:64
2012-04-10 00:00:00
64
(64, 2)

            season1_profit  number of stock
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-06-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:59
2012-06-11 00:00:00
apexstock len:59
2012-06-11 00:00:00
59
(59, 2)

            season1_profit  number of stock
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-08-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:74
2012-08-13 00:00:00
apexstock len:74
2012-08-13 00:00:00
74
(74, 2)

            season1_profit  number of stock
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-10-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:74
2012-10-15 00:00:00
apexstock len:74
2012-10-15 00:00:00
74
(74, 2)

            season1_profit  number of stock
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2012-12-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:56
2012-12-14 00:00:00
apexstock len:56
2012-12-14 00:00:00
56
(56, 2)

            season1_profit  number of stock
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-02-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:86
2013-02-18 00:00:00
apexstock len:86
2013-02-18 00:00:00
86
(86, 2)

            season1_profit  number of stock
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-04-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:83
2013-04-17 00:00:00
apexstock len:83
2013-04-17 00:00:00
83
(83, 2)

            season1_profit  number of stock
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-06-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:89
2013-06-18 00:00:00
apexstock len:89
2013-06-18 00:00:00
89
(89, 2)

            season1_profit  number of stock
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-08-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:86
2013-08-19 00:00:00
apexstock len:86
2013-08-19 00:00:00
86
(86, 2)

            season1_profit  number of stock
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-10-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:93
2013-10-21 00:00:00
apexstock len:93
2013-10-21 00:00:00
93
(93, 2)

            season1_profit  number of stock
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2013-12-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:95
2013-12-23 00:00:00
apexstock len:95
2013-12-23 00:00:00
95
(95, 2)

            season1_profit  number of stock
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-02-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:99
2014-02-21 00:00:00
apexstock len:99
2014-02-21 00:00:00
99
(99, 2)

            season1_profit  number of stock
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:77
2014-04-24 00:00:00
apexstock len:77
2014-04-24 00:00:00
77
(77, 2)

            season1_profit  number of stock
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-06-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:74
2014-06-25 00:00:00
apexstock len:74
2014-06-25 00:00:00
74
(74, 2)

            season1_profit  number of stock
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-08-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:96
2014-08-26 00:00:00
apexstock len:96
2014-08-26 00:00:00
96
(96, 2)

            season1_profit  number of stock
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-10-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:82
2014-10-27 00:00:00
apexstock len:82
2014-10-27 00:00:00
82
(82, 2)

            season1_profit  number of stock
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2014-12-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:61
2014-12-29 00:00:00
apexstock len:61
2014-12-29 00:00:00
61
(61, 2)

            season1_profit  number of stock
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2015-03-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:95
2015-03-02 00:00:00
apexstock len:95
2015-03-02 00:00:00
95
(95, 2)

            season1_profit  number of stock
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2015-05-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:97
2015-05-04 00:00:00
apexstock len:97
2015-05-04 00:00:00
97
(97, 2)

            season1_profit  number of stock
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2015-07-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:85
2015-07-02 00:00:00
apexstock len:85
2015-07-02 00:00:00
85
(85, 2)

            season1_profit  number of stock
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2015-09-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:73
2015-09-02 00:00:00
apexstock len:73
2015-09-02 00:00:00
73
(73, 2)

            season1_profit  number of stock
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2015-11-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:80
2015-11-03 00:00:00
apexstock len:80
2015-11-03 00:00:00
80
(80, 2)

            season1_profit  number of stock
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-01-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:66
2016-01-04 00:00:00
apexstock len:66
2016-01-04 00:00:00
66
(66, 2)

            season1_profit  number of stock
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-03-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:87
2016-03-07 00:00:00
apexstock len:87
2016-03-07 00:00:00
87
(87, 2)

            season1_profit  number of stock
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-05-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:91
2016-05-09 00:00:00
apexstock len:91
2016-05-09 00:00:00
91
(91, 2)

            season1_profit  number of stock
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-07-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:88
2016-07-08 00:00:00
apexstock len:88
2016-07-08 00:00:00
88
(88, 2)

            season1_profit  number of stock
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-09-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:105
2016-09-08 00:00:00
apexstock len:105
2016-09-08 00:00:00
105
(105, 2)

            season1_profit  number of stock
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2016-11-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:71
2016-11-09 00:00:00
apexstock len:71
2016-11-09 00:00:00
71
(71, 2)

            season1_profit  number of stock
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-01-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:72
2017-01-10 00:00:00
apexstock len:72
2017-01-10 00:00:00
72
(72, 2)

            season1_profit  number of stock
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-03-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:104
2017-03-13 00:00:00
apexstock len:104
2017-03-13 00:00:00
104
(104, 2)

            season1_profit  number of stock
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-05-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:95
2017-05-15 00:00:00
apexstock len:95
2017-05-15 00:00:00
95
(95, 2)

            season1_profit  number of stock
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-07-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:104
2017-07-17 00:00:00
apexstock len:104
2017-07-17 00:00:00
104
(104, 2)

            season1_profit  number of stock
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-09-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:92
2017-09-15 00:00:00
apexstock len:92
2017-09-15 00:00:00
92
(92, 2)

            season1_profit  number of stock
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2017-11-16 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:100
2017-11-16 00:00:00
apexstock len:100
2017-11-16 00:00:00
100
(100, 2)

            season1_profit  number of stock
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-01-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:98
2018-01-17 00:00:00
apexstock len:98
2018-01-17 00:00:00
98
(98, 2)

            season1_profit  number of stock
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-03-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:90
2018-03-20 00:00:00
apexstock len:90
2018-03-20 00:00:00
90
(90, 2)

            season1_profit  number of stock
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-05-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:97
2018-05-21 00:00:00
apexstock len:97
2018-05-21 00:00:00
97
(97, 2)

            season1_profit  number of stock
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-07-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:84
2018-07-23 00:00:00
apexstock len:84
2018-07-23 00:00:00
84
(84, 2)

            season1_profit  number of stock
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-09-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:92
2018-09-25 00:00:00
apexstock len:92
2018-09-25 00:00:00
92
(92, 2)

            season1_profit  number of stock
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2018-11-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:45
2018-11-23 00:00:00
apexstock len:45
2018-11-23 00:00:00
45
(45, 2)

            season1_profit  number of stock
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-01-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:75
2019-01-24 00:00:00
apexstock len:75
2019-01-24 00:00:00
75
(75, 2)

            season1_profit  number of stock
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-03-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:107
2019-03-27 00:00:00
apexstock len:107
2019-03-27 00:00:00
107
(107, 2)

            season1_profit  number of stock
2019-03-27       -8.364979              107
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-05-28 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:88
2019-05-28 00:00:00
apexstock len:88
2019-05-28 00:00:00
88
(88, 2)

            season1_profit  number of stock
2019-05-28        5.916796               88
2019-03-27       -8.364979              107
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-07-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:98
2019-07-29 00:00:00
apexstock len:98
2019-07-29 00:00:00
98
(98, 2)

            season1_profit  number of stock
2019-07-29        2.345071               98
2019-05-28        5.916796               88
2019-03-27       -8.364979              107
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-10-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:89
2019-10-01 00:00:00
apexstock len:89
2019-10-01 00:00:00
89
(89, 2)

            season1_profit  number of stock
2019-10-01        2.063592               89
2019-07-29        2.345071               98
2019-05-28        5.916796               88
2019-03-27       -8.364979              107
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2019-12-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:77
2019-12-02 00:00:00
apexstock len:77
2019-12-02 00:00:00
77
(77, 2)

            season1_profit  number of stock
2019-12-02       -2.701862               77
2019-10-01        2.063592               89
2019-07-29        2.345071               98
2019-05-28        5.916796               88
2019-03-27       -8.364979              107
2019-01-24        8.141739               75
2018-11-23        2.704687               45
2018-09-25      -11.790432               92
2018-07-23       -4.939130               84
2018-05-21       -0.524818               97
2018-03-20        4.253055               90
2018-01-17       -0.467269               98
2017-11-16        9.534592              100
2017-09-15        4.518198               92
2017-07-17       11.751368              104
2017-05-15        5.403632               95
2017-03-13        0.945598              104
2017-01-10        9.101793               72
2016-11-09        3.552096               71
2016-09-08       -7.988709              105
2016-07-08        5.592797               88
2016-05-09        6.751549               91
2016-03-07       -4.965426               87
2016-01-04        6.333418               66
2015-11-03       -0.196314               80
2015-09-02        7.824448               73
2015-07-02      -16.821570               85
2015-05-04        1.907132               97
2015-03-02        4.976990               95
2014-12-29       -0.250173               61
2014-10-27        5.358245               82
2014-08-26      -12.065356               96
2014-06-25       -7.084760               74
2014-04-24       10.014251               77
2014-02-21        3.360348               99
2013-12-23       10.362116               95
2013-10-21        1.804630               93
2013-08-19        6.467877               86
2013-06-18        6.287490               89
2013-04-17        5.440396               83
2013-02-18        6.269759               86
2012-12-14        3.656312               56
2012-10-15        1.258423               74
2012-08-13       -0.310492               74
2012-06-11        4.953273               59
2012-04-10       -6.255073               64
2012-02-08       -5.055680               60
2011-12-08        6.580491               59
2011-10-07       -3.898882               50
2011-08-08       -9.844808               72
2011-06-07       -7.664612               81
2011-04-06        1.353271               83
2011-02-08       -1.144365               87
2010-12-01       -0.605271               88
2010-09-30        0.462035               73
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

day 2020-01-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:110
2020-01-31 00:00:00
apexstock len:110
2020-01-31 00:00:00
110
(110, 2)

            season1_profit  number of stock
2020-01-31      -16.980628              110
2019-12-02       -2.701862               77
2019-10-01        2.063592               89
2019-07-29        2.345071               98
2019-05-28        5.916796               88
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[61 rows x 2 columns]

day 2020-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:127
2020-04-06 00:00:00
apexstock len:127
2020-04-06 00:00:00
127
(127, 2)

            season1_profit  number of stock
2020-04-06       41.035411              127
2020-01-31      -16.980628              110
2019-12-02       -2.701862               77
2019-10-01        2.063592               89
2019-07-29        2.345071               98
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[62 rows x 2 columns]

day 2020-06-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:103
2020-06-03 00:00:00
apexstock len:103
2020-06-03 00:00:00
103
(103, 2)

            season1_profit  number of stock
2020-06-03       16.714773              103
2020-04-06       41.035411              127
2020-01-31      -16.980628              110
2019-12-02       -2.701862               77
2019-10-01        2.063592               89
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[63 rows x 2 columns]

day 2020-08-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:125
2020-08-04 00:00:00
apexstock len:125
2020-08-04 00:00:00
125
(125, 2)

            season1_profit  number of stock
2020-08-04        2.770486              125
2020-06-03       16.714773              103
2020-04-06       41.035411              127
2020-01-31      -16.980628              110
2019-12-02       -2.701862               77
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[64 rows x 2 columns]

day 2020-10-05 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:104
2020-10-05 00:00:00
apexstock len:104
2020-10-05 00:00:00
104
(104, 2)

            season1_profit  number of stock
2020-10-05        6.648076              104
2020-08-04        2.770486              125
2020-06-03       16.714773              103
2020-04-06       41.035411              127
2020-01-31      -16.980628              110
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[65 rows x 2 columns]

day 2020-12-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:115
2020-12-07 00:00:00
apexstock len:115
2020-12-07 00:00:00
115
(115, 2)

            season1_profit  number of stock
2020-12-07        4.418093              115
2020-10-05        6.648076              104
2020-08-04        2.770486              125
2020-06-03       16.714773              103
2020-04-06       41.035411              127
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[66 rows x 2 columns]

day 2021-02-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:128
2021-02-17 00:00:00
apexstock len:128
2021-02-17 00:00:00
128
(128, 2)

            season1_profit  number of stock
2021-02-17       29.896908              128
2020-12-07        4.418093              115
2020-10-05        6.648076              104
2020-08-04        2.770486              125
2020-06-03       16.714773              103
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[67 rows x 2 columns]

day 2021-04-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:132
2021-04-09 00:00:00
apexstock len:132
2021-04-09 00:00:00
132
(132, 2)

            season1_profit  number of stock
2021-04-09       -5.294785              132
2021-02-17       29.896908              128
2020-12-07        4.418093              115
2020-10-05        6.648076              104
2020-08-04        2.770486              125
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[68 rows x 2 columns]

day 2021-06-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:108
2021-06-10 00:00:00
apexstock len:108
2021-06-10 00:00:00
108
(108, 2)

            season1_profit  number of stock
2021-06-10       10.209582              108
2021-04-09       -5.294785              132
2021-02-17       29.896908              128
2020-12-07        4.418093              115
2020-10-05        6.648076              104
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[69 rows x 2 columns]

day 2021-08-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:96
2021-08-11 00:00:00
apexstock len:96
2021-08-11 00:00:00
96
(96, 2)

            season1_profit  number of stock
2021-08-11       -4.281526               96
2021-06-10       10.209582              108
2021-04-09       -5.294785              132
2021-02-17       29.896908              128
2020-12-07        4.418093              115
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[70 rows x 2 columns]

day 2021-10-12 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:89
2021-10-12 00:00:00
apexstock len:89
2021-10-12 00:00:00
89
(89, 2)

            season1_profit  number of stock
2021-10-12       13.054082               89
2021-08-11       -4.281526               96
2021-06-10       10.209582              108
2021-04-09       -5.294785              132
2021-02-17       29.896908              128
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[71 rows x 2 columns]

day 2021-12-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:110
2021-12-13 00:00:00
apexstock len:110
2021-12-13 00:00:00
110
(110, 2)

            season1_profit  number of stock
2021-12-13       -1.371242              110
2021-10-12       13.054082               89
2021-08-11       -4.281526               96
2021-06-10       10.209582              108
2021-04-09       -5.294785              132
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[72 rows x 2 columns]

day 2022-02-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:99
2022-02-14 00:00:00
apexstock len:99
2022-02-14 00:00:00
99
(99, 2)

            season1_profit  number of stock
2022-02-14       -0.705734               99
2021-12-13       -1.371242              110
2021-10-12       13.054082               89
2021-08-11       -4.281526               96
2021-06-10       10.209582              108
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[73 rows x 2 columns]

day 2022-04-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:112
2022-04-18 00:00:00
apexstock len:112
2022-04-18 00:00:00
112
(112, 2)

            season1_profit  number of stock
2022-04-18      -10.251941              112
2022-02-14       -0.705734               99
2021-12-13       -1.371242              110
2021-10-12       13.054082               89
2021-08-11       -4.281526               96
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[74 rows x 2 columns]

day 2022-06-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:104
2022-06-17 00:00:00
apexstock len:104
2022-06-17 00:00:00
104
(104, 2)

            season1_profit  number of stock
2022-06-17       12.643850              104
2022-04-18      -10.251941              112
2022-02-14       -0.705734               99
2021-12-13       -1.371242              110
2021-10-12       13.054082               89
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[75 rows x 2 columns]

day 2022-08-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:107
2022-08-18 00:00:00
apexstock len:107
2022-08-18 00:00:00
107
(107, 2)

            season1_profit  number of stock
2022-08-18      -14.942113              107
2022-06-17       12.643850              104
2022-04-18      -10.251941              112
2022-02-14       -0.705734               99
2021-12-13       -1.371242              110
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[76 rows x 2 columns]

day 2022-10-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:78
2022-10-19 00:00:00
apexstock len:78
2022-10-19 00:00:00
78
(78, 2)

            season1_profit  number of stock
2022-10-19        6.680693               78
2022-08-18      -14.942113              107
2022-06-17       12.643850              104
2022-04-18      -10.251941              112
2022-02-14       -0.705734               99
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[77 rows x 2 columns]

day 2022-12-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:86
2022-12-20 00:00:00
apexstock len:86
2022-12-20 00:00:00
86
(86, 2)

            season1_profit  number of stock
2022-12-20        9.259216               86
2022-10-19        6.680693               78
2022-08-18      -14.942113              107
2022-06-17       12.643850              104
2022-04-18      -10.251941              112
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[78 rows x 2 columns]

day 2023-02-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:111
2023-02-20 00:00:00
apexstock len:111
2023-02-20 00:00:00
111
(111, 2)

            season1_profit  number of stock
2023-02-20        9.036548              111
2022-12-20        9.259216               86
2022-10-19        6.680693               78
2022-08-18      -14.942113              107
2022-06-17       12.643850              104
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[79 rows x 2 columns]

day 2023-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:138
2023-04-24 00:00:00
apexstock len:138
2023-04-24 00:00:00
138
(138, 2)

            season1_profit  number of stock
2023-04-24       17.683279              138
2023-02-20        9.036548              111
2022-12-20        9.259216               86
2022-10-19        6.680693               78
2022-08-18      -14.942113              107
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[80 rows x 2 columns]

day 2023-06-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:134
2023-06-26 00:00:00
apexstock len:134
2023-06-26 00:00:00
134
(134, 2)

            season1_profit  number of stock
2023-06-26        1.123873              134
2023-04-24       17.683279              138
2023-02-20        9.036548              111
2022-12-20        9.259216               86
2022-10-19        6.680693               78
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[81 rows x 2 columns]

In [7]:
display(all_df)
avg_profit_df6 = pd.DataFrame([])
for ind in all_df.index.values:
    avg_profit_df6.loc[ind, 'season1 profit'] = 100*all_df.loc[ind, 'season1_profit']/all_df.loc[ind, 'number of stock']
    avg_profit_df6.loc[ind, 'numbers of stock'] = all_df.loc[ind, 'number of stock']
avg_profit_df6.loc['total'] = avg_profit_df6.sum()
display(avg_profit_df6)
avg_profit_df6.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T10.xlsx')

            season1_profit  number of stock
2023-06-26        1.123873              134
2023-04-24       17.683279              138
2023-02-20        9.036548              111
2022-12-20        9.259216               86
2022-10-19        6.680693               78
...                    ...              ...
2010-07-30        1.388660               66
2010-05-31        4.807526               77
2010-03-29       -5.191282               70
2010-01-25        6.822703               68
2009-11-24       12.610070               74

[81 rows x 2 columns]

                     season1 profit  numbers of stock
2023-06-26 00:00:00        0.838711             134.0
2023-04-24 00:00:00       12.813971             138.0
2023-02-20 00:00:00        8.141034             111.0
2022-12-20 00:00:00       10.766530              86.0
2022-10-19 00:00:00        8.564991              78.0
...                             ...               ...
2010-05-31 00:00:00        6.243540              77.0
2010-03-29 00:00:00       -7.416118              70.0
2010-01-25 00:00:00       10.033387              68.0
2009-11-24 00:00:00       17.040635              74.0
total                    220.833184            7217.0

[82 rows x 2 columns]

In [8]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS MA250rate<75'] = (allstock.loc[id, 'RS 250rate']<75)
            allstock.loc[id, 'RS MA250rate>55'] = (allstock.loc[id, 'RS 250rate']>55)
            allstock.loc[id, 'RS MA20rate>85'] = (allstock.loc[id, 'RS 20rate'] > 85)
            allstock.loc[id, 'RS EMA250rate>75'] = (allstock.loc[id, 'RS EMA250rate']>75)
            allstock.loc[id, 'RS EMA20rate<99'] = (allstock.loc[id, 'RS EMA20rate'] < 99)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.5'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS MA20rate>85', 'RS MA250rate<75', 'RS MA250rate>55', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.5', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price','RS 250EMA is 10MAX'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    apexstock = template1_df.sort_values(by='RS EMA250rate', ascending=True)
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    
    # template1_df.dropna(inplace=True)
    # template2_df.dropna(inplace=True)
    # template1_df = template1_df.sort_values(by='RS MA250rate', ascending=True)
    # template2_num = int(len(template1_df.index.values)/4)
    # template2_df = template2_df.sort_values(by='RS MA250rate', ascending=True)
    # print(f'T2 len:{len(template2_df.index.values)}')
    # template2_df = template2_df.loc[~template2_df.index.isin(template1_df.index)].iloc[-template2_num:]
    # apexstock = pd.concat([template1_df, template2_df])
    # apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    # apexstock = apexstock.dropna()
    # print(f'T1 len:{len(template1_df.index.values)}')
    # print(f'T2 len:{len(template2_df.index.values)}')
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T5/' + str(day).split(' ')[0] + 'RS選股(T5)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1_profit':profit_df.sum().values,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

     有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
ID
1101     台泥  上市   水泥工業     1962/02/09
1102     亞泥  上市   水泥工業     1962/06/08
1103     嘉泥  上市   水泥工業     1969/11/14
1104     環泥  上市   水泥工業     1971/02/01
1108     幸福  上市   水泥工業     1990/06/06
...     ...  ..    ...            ...
9949     琉園  上櫃  文化創意業     2003/11/21
9950    萬國通  上櫃   塑膠工業     2004/02/17
9951     皇田  上櫃   電機機械     2003/12/18
9960    邁達康  上櫃   運動休閒     2004/12/06
9962     有益  上櫃   鋼鐵工業     2006/07/10

[1788 rows x 4 columns]
day 2009-11-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:3
2009-11-24 00:00:00
apexstock len:3
2009-11-24 00:00:00
3
(3, 2)

            season1_profit  number of stock
2009-11-24        0.723287                3

day 2010-01-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2010-01-25 00:00:00
apexstock len:5
2010-01-25 00:00:00
5
(5, 2)

            season1_profit  number of stock
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2010-03-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:10
2010-03-29 00:00:00
apexstock len:10
2010-03-29 00:00:00
10
(10, 2)

            season1_profit  number of stock
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2010-05-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2010-05-31 00:00:00
apexstock len:5
2010-05-31 00:00:00
5
(5, 2)

            season1_profit  number of stock
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2010-07-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2010-07-30 00:00:00
apexstock len:2
2010-07-30 00:00:00
2
(2, 2)

            season1_profit  number of stock
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2010-09-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2010-09-30 00:00:00
apexstock len:5
2010-09-30 00:00:00
5
(5, 2)

            season1_profit  number of stock
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2010-12-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2010-12-01 00:00:00
apexstock len:2
2010-12-01 00:00:00
2
(2, 2)

            season1_profit  number of stock
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2011-02-08 00:00:00
apexstock len:4
2011-02-08 00:00:00
4
(4, 2)

            season1_profit  number of stock
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2011-04-06 00:00:00
apexstock len:2
2011-04-06 00:00:00
2
(2, 2)

            season1_profit  number of stock
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-06-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2011-06-07 00:00:00
apexstock len:5
2011-06-07 00:00:00
5
(5, 2)

            season1_profit  number of stock
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-08-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2011-08-08 00:00:00
apexstock len:1
2011-08-08 00:00:00
1
(1, 2)

            season1_profit  number of stock
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-10-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2011-10-07 00:00:00
apexstock len:1
2011-10-07 00:00:00
1
(1, 2)

            season1_profit  number of stock
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2011-12-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:0
2011-12-08 00:00:00
apexstock len:0
2011-12-08 00:00:00
0
(0,)

            season1_profit  number of stock
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:0
2012-02-08 00:00:00
apexstock len:0
2012-02-08 00:00:00
0
(0,)

            season1_profit  number of stock
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-04-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:3
2012-04-10 00:00:00
apexstock len:3
2012-04-10 00:00:00
3
(3, 2)

            season1_profit  number of stock
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-06-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:0
2012-06-11 00:00:00
apexstock len:0
2012-06-11 00:00:00
0
(0,)

            season1_profit  number of stock
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-08-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:3
2012-08-13 00:00:00
apexstock len:3
2012-08-13 00:00:00
3
(3, 2)

            season1_profit  number of stock
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-10-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2012-10-15 00:00:00
apexstock len:5
2012-10-15 00:00:00
5
(5, 2)

            season1_profit  number of stock
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2012-12-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2012-12-14 00:00:00
apexstock len:1
2012-12-14 00:00:00
1
(1, 2)

            season1_profit  number of stock
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-02-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2013-02-18 00:00:00
apexstock len:2
2013-02-18 00:00:00
2
(2, 2)

            season1_profit  number of stock
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-04-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2013-04-17 00:00:00
apexstock len:8
2013-04-17 00:00:00
8
(8, 2)

            season1_profit  number of stock
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-06-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:7
2013-06-18 00:00:00
apexstock len:7
2013-06-18 00:00:00
7
(7, 2)

            season1_profit  number of stock
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-08-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:7
2013-08-19 00:00:00
apexstock len:7
2013-08-19 00:00:00
7
(7, 2)

            season1_profit  number of stock
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-10-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:10
2013-10-21 00:00:00
apexstock len:10
2013-10-21 00:00:00
10
(10, 2)

            season1_profit  number of stock
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2013-12-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2013-12-23 00:00:00
apexstock len:5
2013-12-23 00:00:00
5
(5, 2)

            season1_profit  number of stock
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-02-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2014-02-21 00:00:00
apexstock len:8
2014-02-21 00:00:00
8
(8, 2)

            season1_profit  number of stock
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2014-04-24 00:00:00
apexstock len:8
2014-04-24 00:00:00
8
(8, 2)

            season1_profit  number of stock
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-06-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2014-06-25 00:00:00
apexstock len:5
2014-06-25 00:00:00
5
(5, 2)

            season1_profit  number of stock
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-08-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:6
2014-08-26 00:00:00
apexstock len:6
2014-08-26 00:00:00
6
(6, 2)

            season1_profit  number of stock
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-10-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2014-10-27 00:00:00
apexstock len:2
2014-10-27 00:00:00
2
(2, 2)

            season1_profit  number of stock
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2014-12-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:0
2014-12-29 00:00:00
apexstock len:0
2014-12-29 00:00:00
0
(0,)

            season1_profit  number of stock
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2015-03-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2015-03-02 00:00:00
apexstock len:1
2015-03-02 00:00:00
1
(1, 2)

            season1_profit  number of stock
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2015-05-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2015-05-04 00:00:00
apexstock len:4
2015-05-04 00:00:00
4
(4, 2)

            season1_profit  number of stock
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2015-07-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:3
2015-07-02 00:00:00
apexstock len:3
2015-07-02 00:00:00
3
(3, 2)

            season1_profit  number of stock
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2015-09-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:0
2015-09-02 00:00:00
apexstock len:0
2015-09-02 00:00:00
0
(0,)

            season1_profit  number of stock
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2015-11-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2015-11-03 00:00:00
apexstock len:2
2015-11-03 00:00:00
2
(2, 2)

            season1_profit  number of stock
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-01-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2016-01-04 00:00:00
apexstock len:4
2016-01-04 00:00:00
4
(4, 2)

            season1_profit  number of stock
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-03-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2016-03-07 00:00:00
apexstock len:8
2016-03-07 00:00:00
8
(8, 2)

            season1_profit  number of stock
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-05-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2016-05-09 00:00:00
apexstock len:5
2016-05-09 00:00:00
5
(5, 2)

            season1_profit  number of stock
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-07-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:7
2016-07-08 00:00:00
apexstock len:7
2016-07-08 00:00:00
7
(7, 2)

            season1_profit  number of stock
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-09-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:12
2016-09-08 00:00:00
apexstock len:12
2016-09-08 00:00:00
12
(12, 2)

            season1_profit  number of stock
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2016-11-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2016-11-09 00:00:00
apexstock len:2
2016-11-09 00:00:00
2
(2, 2)

            season1_profit  number of stock
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-01-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2017-01-10 00:00:00
apexstock len:8
2017-01-10 00:00:00
8
(8, 2)

            season1_profit  number of stock
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-03-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2017-03-13 00:00:00
apexstock len:8
2017-03-13 00:00:00
8
(8, 2)

            season1_profit  number of stock
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-05-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:6
2017-05-15 00:00:00
apexstock len:6
2017-05-15 00:00:00
6
(6, 2)

            season1_profit  number of stock
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-07-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:13
2017-07-17 00:00:00
apexstock len:13
2017-07-17 00:00:00
13
(13, 2)

            season1_profit  number of stock
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-09-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:10
2017-09-15 00:00:00
apexstock len:10
2017-09-15 00:00:00
10
(10, 2)

            season1_profit  number of stock
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2017-11-16 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2017-11-16 00:00:00
apexstock len:4
2017-11-16 00:00:00
4
(4, 2)

            season1_profit  number of stock
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-01-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2018-01-17 00:00:00
apexstock len:8
2018-01-17 00:00:00
8
(8, 2)

            season1_profit  number of stock
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-03-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:9
2018-03-20 00:00:00
apexstock len:9
2018-03-20 00:00:00
9
(9, 2)

            season1_profit  number of stock
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-05-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:7
2018-05-21 00:00:00
apexstock len:7
2018-05-21 00:00:00
7
(7, 2)

            season1_profit  number of stock
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-07-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2018-07-23 00:00:00
apexstock len:5
2018-07-23 00:00:00
5
(5, 2)

            season1_profit  number of stock
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-09-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:5
2018-09-25 00:00:00
apexstock len:5
2018-09-25 00:00:00
5
(5, 2)

            season1_profit  number of stock
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2018-11-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2018-11-23 00:00:00
apexstock len:1
2018-11-23 00:00:00
1
(1, 2)

            season1_profit  number of stock
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-01-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2019-01-24 00:00:00
apexstock len:4
2019-01-24 00:00:00
4
(4, 2)

            season1_profit  number of stock
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-03-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:8
2019-03-27 00:00:00
apexstock len:8
2019-03-27 00:00:00
8
(8, 2)

            season1_profit  number of stock
2019-03-27       -0.390882                8
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-05-28 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:10
2019-05-28 00:00:00
apexstock len:10
2019-05-28 00:00:00
10
(10, 2)

            season1_profit  number of stock
2019-05-28        0.545165               10
2019-03-27       -0.390882                8
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-07-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:19
2019-07-29 00:00:00
apexstock len:19
2019-07-29 00:00:00
19
(19, 2)

            season1_profit  number of stock
2019-07-29       -0.136414               19
2019-05-28        0.545165               10
2019-03-27       -0.390882                8
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-10-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:19
2019-10-01 00:00:00
apexstock len:19
2019-10-01 00:00:00
19
(19, 2)

            season1_profit  number of stock
2019-10-01       -0.335743               19
2019-07-29       -0.136414               19
2019-05-28        0.545165               10
2019-03-27       -0.390882                8
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2019-12-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:11
2019-12-02 00:00:00
apexstock len:11
2019-12-02 00:00:00
11
(11, 2)

            season1_profit  number of stock
2019-12-02        0.059904               11
2019-10-01       -0.335743               19
2019-07-29       -0.136414               19
2019-05-28        0.545165               10
2019-03-27       -0.390882                8
2019-01-24        0.346484                4
2018-11-23       -0.043330                1
2018-09-25       -0.767273                5
2018-07-23       -0.608338                5
2018-05-21       -0.358798                7
2018-03-20        0.804921                9
2018-01-17       -0.322404                8
2017-11-16        1.758272                4
2017-09-15       -0.292820               10
2017-07-17       -0.268696               13
2017-05-15       -0.063681                6
2017-03-13        0.189231                8
2017-01-10        1.097002                8
2016-11-09        0.198476                2
2016-09-08       -0.644708               12
2016-07-08        0.336474                7
2016-05-09       -0.029557                5
2016-03-07       -0.749028                8
2016-01-04        0.042502                4
2015-11-03        0.837578                2
2015-09-02        0.000000                0
2015-07-02       -1.227447                3
2015-05-04       -0.532305                4
2015-03-02        0.118571                1
2014-12-29        0.000000                0
2014-10-27        0.055774                2
2014-08-26       -0.505856                6
2014-06-25       -0.322434                5
2014-04-24        0.886693                8
2014-02-21        0.744389                8
2013-12-23        0.511678                5
2013-10-21        0.015706               10
2013-08-19        1.078245                7
2013-06-18       -0.422181                7
2013-04-17        0.489784                8
2013-02-18       -0.235696                2
2012-12-14        0.061728                1
2012-10-15       -0.048270                5
2012-08-13        0.277238                3
2012-06-11        0.000000                0
2012-04-10       -0.039796                3
2012-02-08        0.000000                0
2011-12-08        0.000000                0
2011-10-07       -0.180693                1
2011-08-08        0.401392                1
2011-06-07       -0.192491                5
2011-04-06       -0.151802                2
2011-02-08       -0.084676                4
2010-12-01       -0.061361                2
2010-09-30       -0.160291                5
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

day 2020-01-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:2
2020-01-31 00:00:00
apexstock len:2
2020-01-31 00:00:00
2
(2, 2)

            season1_profit  number of stock
2020-01-31       -0.605263                2
2019-12-02        0.059904               11
2019-10-01       -0.335743               19
2019-07-29       -0.136414               19
2019-05-28        0.545165               10
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[61 rows x 2 columns]

day 2020-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:1
2020-04-06 00:00:00
apexstock len:1
2020-04-06 00:00:00
1
(1, 2)

            season1_profit  number of stock
2020-04-06        0.495272                1
2020-01-31       -0.605263                2
2019-12-02        0.059904               11
2019-10-01       -0.335743               19
2019-07-29       -0.136414               19
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[62 rows x 2 columns]

day 2020-06-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:23
2020-06-03 00:00:00
apexstock len:23
2020-06-03 00:00:00
23
(23, 2)

            season1_profit  number of stock
2020-06-03        3.367175               23
2020-04-06        0.495272                1
2020-01-31       -0.605263                2
2019-12-02        0.059904               11
2019-10-01       -0.335743               19
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[63 rows x 2 columns]

day 2020-08-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:29
2020-08-04 00:00:00
apexstock len:29
2020-08-04 00:00:00
29
(29, 2)

            season1_profit  number of stock
2020-08-04        2.932174               29
2020-06-03        3.367175               23
2020-04-06        0.495272                1
2020-01-31       -0.605263                2
2019-12-02        0.059904               11
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[64 rows x 2 columns]

day 2020-10-05 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:21
2020-10-05 00:00:00
apexstock len:21
2020-10-05 00:00:00
21
(21, 2)

            season1_profit  number of stock
2020-10-05        3.154443               21
2020-08-04        2.932174               29
2020-06-03        3.367175               23
2020-04-06        0.495272                1
2020-01-31       -0.605263                2
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[65 rows x 2 columns]

day 2020-12-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-12-07 00:00:00
apexstock len:50
2020-12-07 00:00:00
50
(50, 2)

            season1_profit  number of stock
2020-12-07        2.841013               50
2020-10-05        3.154443               21
2020-08-04        2.932174               29
2020-06-03        3.367175               23
2020-04-06        0.495272                1
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[66 rows x 2 columns]

day 2021-02-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:32
2021-02-17 00:00:00
apexstock len:32
2021-02-17 00:00:00
32
(32, 2)

            season1_profit  number of stock
2021-02-17        6.089632               32
2020-12-07        2.841013               50
2020-10-05        3.154443               21
2020-08-04        2.932174               29
2020-06-03        3.367175               23
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[67 rows x 2 columns]

day 2021-04-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:34
2021-04-09 00:00:00
apexstock len:34
2021-04-09 00:00:00
34
(34, 2)

            season1_profit  number of stock
2021-04-09       -1.071129               34
2021-02-17        6.089632               32
2020-12-07        2.841013               50
2020-10-05        3.154443               21
2020-08-04        2.932174               29
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[68 rows x 2 columns]

day 2021-06-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2021-06-10 00:00:00
apexstock len:43
2021-06-10 00:00:00
43
(43, 2)

            season1_profit  number of stock
2021-06-10        4.554185               43
2021-04-09       -1.071129               34
2021-02-17        6.089632               32
2020-12-07        2.841013               50
2020-10-05        3.154443               21
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[69 rows x 2 columns]

day 2021-08-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:30
2021-08-11 00:00:00
apexstock len:30
2021-08-11 00:00:00
30
(30, 2)

            season1_profit  number of stock
2021-08-11        0.621348               30
2021-06-10        4.554185               43
2021-04-09       -1.071129               34
2021-02-17        6.089632               32
2020-12-07        2.841013               50
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[70 rows x 2 columns]

day 2021-10-12 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:25
2021-10-12 00:00:00
apexstock len:25
2021-10-12 00:00:00
25
(25, 2)

            season1_profit  number of stock
2021-10-12        0.836115               25
2021-08-11        0.621348               30
2021-06-10        4.554185               43
2021-04-09       -1.071129               34
2021-02-17        6.089632               32
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[71 rows x 2 columns]

day 2021-12-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:26
2021-12-13 00:00:00
apexstock len:26
2021-12-13 00:00:00
26
(26, 2)

            season1_profit  number of stock
2021-12-13        1.019274               26
2021-10-12        0.836115               25
2021-08-11        0.621348               30
2021-06-10        4.554185               43
2021-04-09       -1.071129               34
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[72 rows x 2 columns]

day 2022-02-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:27
2022-02-14 00:00:00
apexstock len:27
2022-02-14 00:00:00
27
(27, 2)

            season1_profit  number of stock
2022-02-14        1.602616               27
2021-12-13        1.019274               26
2021-10-12        0.836115               25
2021-08-11        0.621348               30
2021-06-10        4.554185               43
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[73 rows x 2 columns]

day 2022-04-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:18
2022-04-18 00:00:00
apexstock len:18
2022-04-18 00:00:00
18
(18, 2)

            season1_profit  number of stock
2022-04-18       -0.767005               18
2022-02-14        1.602616               27
2021-12-13        1.019274               26
2021-10-12        0.836115               25
2021-08-11        0.621348               30
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[74 rows x 2 columns]

day 2022-06-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:14
2022-06-17 00:00:00
apexstock len:14
2022-06-17 00:00:00
14
(14, 2)

            season1_profit  number of stock
2022-06-17        1.301604               14
2022-04-18       -0.767005               18
2022-02-14        1.602616               27
2021-12-13        1.019274               26
2021-10-12        0.836115               25
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[75 rows x 2 columns]

day 2022-08-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:12
2022-08-18 00:00:00
apexstock len:12
2022-08-18 00:00:00
12
(12, 2)

            season1_profit  number of stock
2022-08-18       -1.095739               12
2022-06-17        1.301604               14
2022-04-18       -0.767005               18
2022-02-14        1.602616               27
2021-12-13        1.019274               26
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[76 rows x 2 columns]

day 2022-10-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:4
2022-10-19 00:00:00
apexstock len:4
2022-10-19 00:00:00
4
(4, 2)

            season1_profit  number of stock
2022-10-19        0.232661                4
2022-08-18       -1.095739               12
2022-06-17        1.301604               14
2022-04-18       -0.767005               18
2022-02-14        1.602616               27
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[77 rows x 2 columns]

day 2022-12-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:17
2022-12-20 00:00:00
apexstock len:17
2022-12-20 00:00:00
17
(17, 2)

            season1_profit  number of stock
2022-12-20        1.108536               17
2022-10-19        0.232661                4
2022-08-18       -1.095739               12
2022-06-17        1.301604               14
2022-04-18       -0.767005               18
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[78 rows x 2 columns]

day 2023-02-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:19
2023-02-20 00:00:00
apexstock len:19
2023-02-20 00:00:00
19
(19, 2)

            season1_profit  number of stock
2023-02-20        0.932511               19
2022-12-20        1.108536               17
2022-10-19        0.232661                4
2022-08-18       -1.095739               12
2022-06-17        1.301604               14
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[79 rows x 2 columns]

day 2023-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:26
2023-04-24 00:00:00
apexstock len:26
2023-04-24 00:00:00
26
(26, 2)

            season1_profit  number of stock
2023-04-24        6.334378               26
2023-02-20        0.932511               19
2022-12-20        1.108536               17
2022-10-19        0.232661                4
2022-08-18       -1.095739               12
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[80 rows x 2 columns]

day 2023-06-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:30
2023-06-26 00:00:00
apexstock len:30
2023-06-26 00:00:00
30
(30, 2)

            season1_profit  number of stock
2023-06-26        3.270473               30
2023-04-24        6.334378               26
2023-02-20        0.932511               19
2022-12-20        1.108536               17
2022-10-19        0.232661                4
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[81 rows x 2 columns]

In [9]:
display(all_df)
avg_profit_df7 = pd.DataFrame([])
for ind in all_df.index.values:
    avg_profit_df7.loc[ind, 'season1 profit'] = 100*all_df.loc[ind, 'season1_profit']/all_df.loc[ind, 'number of stock']
    avg_profit_df7.loc[ind, 'numbers of stock'] = all_df.loc[ind, 'number of stock']
avg_profit_df7.loc['total'] = avg_profit_df7.sum()
display(avg_profit_df7)
avg_profit_df7.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T5.xlsx')

            season1_profit  number of stock
2023-06-26        3.270473               30
2023-04-24        6.334378               26
2023-02-20        0.932511               19
2022-12-20        1.108536               17
2022-10-19        0.232661                4
...                    ...              ...
2010-07-30        0.059483                2
2010-05-31        1.007894                5
2010-03-29       -0.835927               10
2010-01-25        0.361889                5
2009-11-24        0.723287                3

[81 rows x 2 columns]

                     season1 profit  numbers of stock
2023-06-26 00:00:00       10.901578              30.0
2023-04-24 00:00:00       24.362994              26.0
2023-02-20 00:00:00        4.907953              19.0
2022-12-20 00:00:00        6.520798              17.0
2022-10-19 00:00:00        5.816537               4.0
...                             ...               ...
2010-05-31 00:00:00       20.157887               5.0
2010-03-29 00:00:00       -8.359269              10.0
2010-01-25 00:00:00        7.237773               5.0
2009-11-24 00:00:00       24.109569               3.0
total                    267.943044             811.0

[82 rows x 2 columns]