In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 93)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>80'] = (allstock.loc[id, 'RS EMA250rate']>80)
            allstock.loc[id, 'RS EMA50rate>80'] = (allstock.loc[id, 'RS EMA50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>80 and EMA50rate>80'] = all(allstock.loc[id, ['RS EMA250rate>80','RS EMA50rate>80']])
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['Mark Tamplate'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['Mark Tamplate']].index))
    print(str(day))
    # apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:63]).prod()
    season2_profit = abs(roc_df.iloc[63:126]).prod()
    season3_profit = abs(roc_df.iloc[126:189]).prod()
    season4_profit = abs(roc_df.iloc[189:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['Mark Tamplate']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [3]:
avg_profit_df = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df.loc['total'] = avg_profit_df.sum()
display(avg_profit_df)

,season1_profit,season2_profit,season3_profit,season4_profit,all_profit,number of stock
2022-07-18 00:00:00,-4.233697,8.426118,20.829413,14.153116,48.451776,100.0
2022-04-15 00:00:00,-13.260039,-2.507280,7.807754,14.780282,5.438703,100.0
2022-01-12 00:00:00,-7.738328,-4.664622,-13.309739,10.878416,-16.202135,100.0
2021-10-12 00:00:00,7.369920,-4.185933,-8.624951,-8.969879,-14.144811,100.0
2021-07-12 00:00:00,-14.613918,15.339914,-5.303912,-18.153394,-24.101440,100.0
2021-04-08 00:00:00,7.831234,-9.506225,17.701985,-7.280655,1.338646,100.0
2021-01-05 00:00:00,24.842129,12.720685,-11.287921,16.878885,41.769635,100.0
2020-10-05 00:00:00,11.472571,17.554231,1.103309,-10.446377,18.625470,100.0
2020-07-03 00:00:00,1.476434,9.057455,14.849844,1.622628,30.463659,100.0
2020-04-01 00:00:00,31.753680,7.523473,4.208765,14.152338,75.917836,100.0
2019-12-30 00:00:00,-16.524270,34.355496,0.679670,8.368988,20.871546,100.0
2019-10-01 00:00:00,9.692628,-17.077970,27.981547,-2.193583,15.574112,100.0
2019-06-27 00:00:00,8.052922,2.677613,-16.284440,25.804337,17.234066,100.0
2019-03-26 00:00:00,-0.130611,8.343134,3.294433,-31.204933,-20.965822,100.0
2018-12-24 00:00:00,21.802401,-0.720501,2.056295,2.915784,28.675272,100.0
2018-09-21 00:00:00,-9.666679,12.960348,-1.465770,0.372729,5.450516,100.0
2018-06-20 00:00:00,-14.004040,-11.501043,10.979962,-5.876930,-19.391391,100.0
2018-03-19 00:00:00,5.365523,-12.873815,-7.567889,7.399326,-11.724531,100.0
total,49.487860,65.921078,47.648356,33.201077,203.281109,1800.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 93)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS EMA250rate>70', 'RS EMA20rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:63]).prod()
    season2_profit = abs(roc_df.iloc[63:126]).prod()
    season3_profit = abs(roc_df.iloc[126:189]).prod()
    season4_profit = abs(roc_df.iloc[189:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [5]:
avg_profit_df2 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df2.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df2.loc['total'] = avg_profit_df2.sum()
display(avg_profit_df2)

,season1_profit,season2_profit,season3_profit,season4_profit,all_profit,number of stock
2022-07-18 00:00:00,-5.160994,8.255351,19.469045,14.729623,44.834253,100.0
2022-04-15 00:00:00,-10.822076,-2.219969,8.567596,15.758691,11.559148,100.0
2022-01-12 00:00:00,-6.633913,-2.989799,-8.595483,9.402049,-10.384904,100.0
2021-10-12 00:00:00,7.162518,-1.698361,-6.223039,-6.874531,-8.917737,100.0
2021-07-12 00:00:00,-13.336833,16.883836,-6.089662,-18.307196,-23.130781,100.0
2021-04-08 00:00:00,12.883870,-8.636769,17.430842,-7.046820,5.630351,100.0
2021-01-05 00:00:00,26.037310,14.722713,-13.523688,17.611627,41.511092,100.0
2020-10-05 00:00:00,16.152745,18.169289,5.428384,-9.832098,31.352570,100.0
2020-07-03 00:00:00,1.987682,10.703521,15.746881,-0.859009,31.709578,100.0
2020-04-01 00:00:00,29.184440,1.923603,6.319863,8.367954,58.951588,100.0
2019-12-30 00:00:00,-15.880602,36.359025,-0.135225,10.874616,23.480987,100.0
2019-10-01 00:00:00,6.712400,-16.658149,27.331753,-0.411713,14.903451,100.0
2019-06-27 00:00:00,14.593369,5.631276,-13.729773,27.870963,36.507405,100.0
2019-03-26 00:00:00,-0.105689,9.876027,3.406428,-29.784063,-18.238540,100.0
2018-12-24 00:00:00,19.509585,-0.414239,9.165959,4.477218,39.088824,100.0
2018-09-21 00:00:00,-10.771998,16.135216,-0.591114,1.171877,8.110478,100.0
2018-06-20 00:00:00,-13.321655,-10.319372,11.706063,-6.667796,-18.155372,100.0
2018-03-19 00:00:00,9.151630,-15.151055,-8.560260,10.058661,-8.596448,100.0
total,67.341789,80.572144,67.124571,40.540052,260.215944,1800.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-1962, -365, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS EMA250rate>70', 'RS EMA20rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [10]:
avg_profit_df3 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df3.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df3.loc['total'] = avg_profit_df3.sum()
display(avg_profit_df3)

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2022-06-17 00:00:00,6.044328,-10.378307,12.951095,9.067892,12.951095,9.067892,33.700770,100.0
2022-04-18 00:00:00,-7.663892,3.942822,-8.973235,11.428826,-8.973235,11.428826,11.335804,100.0
2022-02-14 00:00:00,-0.413306,-2.970322,1.459621,-11.773505,1.459621,-11.773505,-1.263569,100.0
2021-12-13 00:00:00,-4.784730,-9.798150,-1.181129,7.900430,-1.181129,7.900430,-11.950186,100.0
2021-10-12 00:00:00,8.744388,-2.956525,-0.327196,-7.942485,-0.327196,-7.942485,-8.917737,100.0
2021-08-11 00:00:00,-0.318953,11.092668,0.738532,-0.442326,0.738532,-0.442326,2.940051,100.0
2021-06-10 00:00:00,12.375957,-7.336818,15.795821,-1.711083,15.795821,-1.711083,13.535340,100.0
2021-04-09 00:00:00,-4.224442,11.880275,-9.199707,17.051169,-9.199707,17.051169,4.292690,100.0
2021-02-17 00:00:00,20.571472,-0.109758,-2.250653,2.103163,-2.250653,2.103163,30.699315,100.0
2020-12-07 00:00:00,3.396137,38.656360,-4.325640,3.485475,-4.325640,3.485475,62.403991,100.0
2020-10-05 00:00:00,9.226680,1.431618,24.999930,-1.654777,24.999930,-1.654777,31.352570,100.0
2020-08-04 00:00:00,5.853883,8.730628,-0.046671,20.736993,-0.046671,20.736993,35.160843,100.0
2020-06-03 00:00:00,15.060339,2.380231,4.501646,-1.132034,4.501646,-1.132034,39.149919,100.0
2020-04-06 00:00:00,38.352101,12.642641,-0.841477,2.431421,-0.841477,2.431421,86.249070,100.0
2020-01-31 00:00:00,-14.471870,34.274717,10.160730,3.349122,10.160730,3.349122,30.821988,100.0
2019-12-02 00:00:00,-0.433649,-10.491405,21.888673,11.041126,21.888673,11.041126,39.093509,100.0
2019-10-01 00:00:00,2.568450,-2.232082,-11.624230,16.264338,-11.624230,16.264338,14.903451,100.0
2019-07-29 00:00:00,1.496842,2.908895,-4.567387,-11.227293,-4.567387,-11.227293,11.365564,100.0
2019-05-28 00:00:00,3.264813,-2.628624,-0.824122,-4.324444,-0.824122,-4.324444,-5.945853,100.0
2019-03-27 00:00:00,-7.752858,13.254304,1.960688,1.546025,1.960688,1.546025,-15.881164,100.0
2019-01-24 00:00:00,13.577529,-4.648560,4.918557,5.331448,4.918557,5.331448,22.468078,100.0
2018-11-23 00:00:00,1.485465,14.810871,-4.129927,-1.695083,-4.129927,-1.695083,12.302673,100.0
2018-09-25 00:00:00,-10.560941,4.295663,15.785326,-5.282553,15.785326,-5.282553,14.095563,100.0
2018-07-23 00:00:00,-9.071652,-9.091865,5.929982,16.281564,5.929982,16.281564,5.538125,100.0
2018-05-21 00:00:00,3.604542,-9.725639,-15.592718,4.249024,-15.592718,4.249024,-11.818806,100.0
2018-03-20 00:00:00,2.438149,0.208207,-9.921502,-13.335235,-9.921502,-13.335235,-7.817917,100.0
total,88.364780,88.141848,47.285004,71.747199,47.285004,71.747199,437.814085,2600.0

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5000, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS EMA250rate>70', 'RS EMA20rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['new_template'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['new_template']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['new_template']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [12]:
avg_profit_df4 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df4.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df4.loc['total'] = avg_profit_df4.sum()
display(avg_profit_df4)

,season1_profit,season2_profit,season3_profit,season4_profit,season5_profit,season6_profit,all_profit,number of stock
2023-06-26 00:00:00,-2.316054,0.000000,0.000000,0.000000,0.000000,0.000000,-2.316054,100.0
2023-04-24 00:00:00,10.325593,-1.006095,0.000000,0.000000,0.000000,0.000000,9.322160,100.0
2023-02-20 00:00:00,9.475742,13.971175,-3.484306,0.000000,-3.484306,0.000000,19.904305,100.0
2022-12-20 00:00:00,15.245842,9.189759,8.400355,-3.874340,8.400355,-3.874340,34.380224,100.0
2022-10-19 00:00:00,6.585683,7.513044,5.587997,8.345465,5.587997,8.345465,23.540378,100.0
...,...,...,...,...,...,...,...,...
2010-05-31 00:00:00,5.408742,5.184111,-4.976881,7.878158,-4.976881,7.878158,7.772792,100.0
2010-03-29 00:00:00,-9.566128,10.126236,3.023674,3.400735,3.023674,3.400735,9.253396,100.0
2010-01-25 00:00:00,5.595506,-4.830344,7.508509,-2.227655,7.508509,-2.227655,16.338358,100.0
2009-11-24 00:00:00,12.794623,5.487434,-9.449518,3.778165,-9.449518,3.778165,8.352334,100.0
total,286.350109,222.634214,116.057536,145.745343,116.057536,145.745343,1017.695015,8100.0

In [13]:
avg_profit_df4.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\year low sort, year high sort, RS EMA250rate大於70, RS EMA20rate大於80, Volume 50MA大於100k.xlsx')

In [ ]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5000, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if i == 0:
                allstock = stockdata
                # print(allstock)
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>80'] = (allstock.loc[id, 'RS EMA20rate'] > 80)
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 100*1000)
            allstock.loc[id, 'new_template'] = all(allstock.loc[id, ['year low sort', 'year high sort', 'RS EMA250rate>70', 'RS EMA20rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    apexstock = allstock.loc[allstock['Mark Tamplate'], ['產業別', 'RS 250rate', 'RS 50rate', 'RS 20rate', 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA',
                                                        'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(len(allstock.loc[allstock['Mark Tamplate']].index))
    print(str(day))
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/history_choosen/' + str(day).split(' ')[0] + 'RS選股(EMA)' + '.xlsx', encoding='utf-8-sig')


    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+365))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
        if i == 0:
            rocp_df = stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP']
            # rocp_df = rocp_df.loc[(rocp_df.index<day2)]
        else:
            rocp = pd.Series(stock.loc[(stock.index>day) & (stock.index<day2), 'ROCP'], name = str(ID))
            rocp_df = pd.concat([rocp, rocp_df], axis=1)

    roc_df = rocp_df/100
    roc_df = roc_df+1   
    season1_profit = abs(roc_df.iloc[:42]).prod()
    season2_profit = abs(roc_df.iloc[42:84]).prod()
    season3_profit = abs(roc_df.iloc[84:126]).prod()
    season4_profit = abs(roc_df.iloc[126:168]).prod()
    season5_profit = abs(roc_df.iloc[168:210]).prod()
    season6_profit = abs(roc_df.iloc[210:]).prod()
    all_profit = abs(roc_df.iloc[:]).prod()
    season1_profit = season1_profit-1
    season2_profit = season2_profit-1
    season3_profit = season3_profit-1
    season4_profit = season4_profit-1
    season5_profit = season5_profit-1
    season6_profit = season6_profit-1
    all_profit = all_profit-1
    season1_profit = season1_profit.sum()
    season2_profit = season2_profit.sum()
    season3_profit = season3_profit.sum()
    season4_profit = season4_profit.sum()
    season5_profit = season5_profit.sum()
    season6_profit = season6_profit.sum()
    all_profit = all_profit.sum()
    profit = {'season1_profit':season1_profit,
            'season2_profit':season2_profit,
            'season3_profit':season3_profit,
            'season4_profit':season4_profit,
            'season5_profit':season3_profit,
            'season6_profit':season4_profit,
            'all_profit':all_profit,
            'number of stock':len(allstock.loc[allstock['Mark Tamplate']].index)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

In [ ]:
avg_profit_df5 = pd.DataFrame([], columns=all_df.columns)
for ind in all_df.index.values:
    avg_profit_df5.loc[ind] = 100*all_df.loc[ind]/all_df.loc[ind, 'number of stock']
avg_profit_df5.loc['total'] = avg_profit_df5.sum()
display(avg_profit_df5)
avg_profit_df5.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\Mark template.xlsx')

In [4]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

all_df = []
# 上市股票df
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
# 上櫃股票df
urlTWO = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=2&issuetype=&industry_code=&Page=1&chklike=Y"
response = requests.get(urlTWO)
listedTWO = pd.read_html(response.text)[0]
listedTWO.columns = listedTWO.iloc[0,:]
listedTWO = listedTWO.loc[listedTWO['有價證券別'] == '股票']
listedTWO = listedTWO[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
# 上市股票代號+.TW
stock_1 = listed["有價證券代號"]
stock_num = stock_1.apply(lambda x: str(x) + ".TW")
stock_num.loc[len(stock_num)+1] = '0050.TW'
stock_num.loc[len(stock_num)+1] = '^TWII'
# print(stock_num)
# 上櫃股票代號+.TWO
stock_2 = listedTWO["有價證券代號"]
stock_num2 = stock_2.apply(lambda x: str(x) + ".TWO")
# print(stock_num2)
# concate全部股票代號
stock_num = pd.concat([stock_num, stock_num2], ignore_index=True)
# print(stock_num)
allstock_info = pd.concat([listed, listedTWO], ignore_index=True)
allstock_info.columns = ["ID","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]
allstock_info.set_index('ID', inplace = True)
print(allstock_info)
# print(type(allstock_info['ID'].values[0]))
taiwan0050 = pd.read_csv('C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/0050.TW.csv',
                        index_col='Date', parse_dates=['Date'])
for number, d in enumerate(np.arange(-5002, -30, 62)):
    # 改日期
    while(1):
        day = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d))) , '%Y-%m-%d' )
        try:
            t = taiwan0050.loc[day]
            print('day', day)
            break
        except:
            d+=1
    ## 把要看日期的個股資料合併(一天)
    allstock = []
    f = 1
    for i, id in enumerate(stock_num):
        
        try:
            address = 'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/' + id + '.csv'
            stockdata = pd.DataFrame(pd.read_csv(address, index_col='Date', parse_dates=['Date']).loc[day]).transpose()
            if f == 1:
                allstock = stockdata
                f = 0
            else:
                allstock = pd.concat([stockdata, allstock], ignore_index=True)
            # print(id)
        except Exception as e:
            # print(e)
            pass
    allstock.set_index('ID', inplace = True)
    ## 建立選股條件
    #(list(map(lambda x,y , all([x,y], allstock.loc[id, 'RS EMA250rate']>85, allstock.loc[id, 'RS EMA50rate']>70))))
    for id in allstock.index.values:
        try:
            allstock.loc[id, 'Price>150MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '150MA'])
            allstock.loc[id, 'Price>200MA'] = (allstock.loc[id, 'Adj Close']>allstock.loc[id, '200MA'])
            allstock.loc[id, '50MA>150MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '150MA'])
            allstock.loc[id, '50MA>200MA'] = (allstock.loc[id, '50MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, '150MA>200MA'] = (allstock.loc[id, '150MA']>allstock.loc[id, '200MA'])
            allstock.loc[id, 'year high sort'] = (abs((allstock.loc[id, '250Max']-allstock.loc[id, 'Adj Close'])/allstock.loc[id, '250Max'])<0.25)
            allstock.loc[id, 'year low sort'] = ((allstock.loc[id, 'Adj Close']-allstock.loc[id, '250Min'])/allstock.loc[id, '250Min']>0.25)
            allstock.loc[id, '200MA trending up 60d'] = (allstock.loc[id, '200MA ROCP 60MA'] >0)
            allstock.loc[id, '200MA trending up 20d'] = (allstock.loc[id, '200MA ROCP 20MA'] >0)
            allstock.loc[id, 'RS 250rate>80'] = (allstock.loc[id, 'RS 250rate'] > 80)
            allstock.loc[id, 'RS 50rate>80'] = (allstock.loc[id, 'RS 50rate'] > 80)
            allstock.loc[id, 'RS EMA250rate>85'] = (allstock.loc[id, 'RS EMA250rate']>85)
            allstock.loc[id, 'RS EMA20rate>85'] = (allstock.loc[id, 'RS EMA20rate'] > 85)
            allstock.loc[id, 'RS EMA250rate>75'] = (allstock.loc[id, 'RS EMA250rate']>75)
            allstock.loc[id, 'RS EMA20rate<99'] = (allstock.loc[id, 'RS EMA20rate'] < 99)
            allstock.loc[id, 'RS EMA250rate>70'] = (allstock.loc[id, 'RS EMA250rate']>70)
            allstock.loc[id, 'RS EMA20rate>75'] = (allstock.loc[id, 'RS EMA20rate'] > 75)
            allstock.loc[id, 'ATR250/price'] = (allstock.loc[id, 'ATR250'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR50/price'] = (allstock.loc[id, 'ATR50'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR20/price'] = (allstock.loc[id, 'ATR20'] / allstock.loc[id, 'Adj Close'])
            allstock.loc[id, 'ATR250/price<0.03'] = (allstock.loc[id, 'ATR250/price'] < 0.03)
            allstock.loc[id, 'ATR250/price<0.5'] = (allstock.loc[id, 'ATR250/price'] < 0.15)
            allstock.loc[id, 'ATR50/price<0.03'] = (allstock.loc[id, 'ATR50/price'] < 0.03)
            allstock.loc[id, 'ATR20/price<0.03'] = (allstock.loc[id, 'ATR20/price'] < 0.03)            
            allstock.loc[id, 'RS 20rate>70'] = (allstock.loc[id, 'RS 20rate'] > 70)
            allstock.loc[id, 'RS 250rate>70'] = (allstock.loc[id, 'RS 250rate'] > 70)
            allstock.loc[id, 'Volume 50MA>100k'] = (allstock.loc[id, 'Volume 50MA'] > 250*1000)
            allstock.loc[id, 'Volume 50MA>1000k'] = (allstock.loc[id, 'Volume 50MA'] > 1000*1000)
            allstock.loc[id, 'Mark Tamplate'] = all(allstock.loc[id, ['Price>150MA', 'Price>200MA', 'year high sort', 'year low sort', '200MA trending up 60d', 'RS 250rate>80', 'Volume 50MA>100k']])
            allstock.loc[id, 'T1'] = all(allstock.loc[id, ['RS EMA250rate>75','RS 250EMA is 10MAX', 'RS EMA20rate<99', 'Volume 50MA>100k']])
            allstock.loc[id, 'T2'] = all(allstock.loc[id, ['ATR250/price<0.5', 'Volume 50MA>1000k']])
        except Exception as e:
            print(e)
            print(id, '失敗')
    ## 第一個日期選出符合條件的股票並匯出excel
    # print(allstock['Mark Tamplate'])
    allstock.dropna(subset='Mark Tamplate', inplace=True)
    template1_df = allstock.loc[allstock['T1'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price','RS 250EMA is 10MAX'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template2_df = allstock.loc[allstock['T2'], ['產業別', 'T1', 'T2', 'ATR250/price', 'ATR50/price', 'ATR20/price'
                                                 , 'RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate'
                                                 , 'Price>150MA', 'Price>200MA', '50MA>150MA', '50MA>200MA', '150MA>200MA'
                                                 ,'year high sort', 'year low sort', '200MA trending up 20d', '200MA trending up 60d', 'RS 250rate>70', 'RS 250rate>80', 'Volume 50MA>100k']]
    template1_df.dropna(inplace=True)
    apexstock = template1_df.sort_values(by='RS EMA250rate', ascending=True)
    apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    apexstock = apexstock.dropna()
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    
    # template1_df.dropna(inplace=True)
    # template2_df.dropna(inplace=True)
    # template1_df = template1_df.sort_values(by='RS MA250rate', ascending=True)
    # template2_num = int(len(template1_df.index.values)/4)
    # template2_df = template2_df.sort_values(by='RS MA250rate', ascending=True)
    # print(f'T2 len:{len(template2_df.index.values)}')
    # template2_df = template2_df.loc[~template2_df.index.isin(template1_df.index)].iloc[-template2_num:]
    # apexstock = pd.concat([template1_df, template2_df])
    # apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']] = apexstock[['RS 250rate', 'RS 50rate', 'RS 20rate', 'RS EMA250rate', 'RS EMA50rate', 'RS EMA20rate']].astype(float).round(1)
    # apexstock = apexstock.dropna()
    # print(f'T1 len:{len(template1_df.index.values)}')
    # print(f'T2 len:{len(template2_df.index.values)}')
    print(f'apexstock len:{len(apexstock.index.values)}')
    print(str(day))
    

    profit_list = []
    IDs = apexstock.index.values
    day2 = datetime.datetime.strptime(str(datetime.date.today() + datetime.timedelta(days=float(d+62))) , '%Y-%m-%d' )
    for i, ID in enumerate(IDs):
        ID = str(int(ID))
        try:
            stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TW.csv', parse_dates=['Date'], index_col=['Date'])
        except:
            try:
                stock = pd.read_csv(f'C:/Users/User/Desktop/StockInfoHub/Stock_Data_Collector/history_data/{ID}.TWO.csv', parse_dates=['Date'], index_col=['Date'])
            except Exception as e:
                print(ID)
                print(e)
                try:
                    apexstock.drop(ID, inplace=True)
                except:
                    pass
                continue
        try:
            initial_price = stock.loc[stock.index>day, 'Adj Close'].iloc[0]
            final_price = stock.loc[stock.index<day2, 'Adj Close'].iloc[-1]
            profit_list.append([ID, (final_price-initial_price)/initial_price])
        except Exception as e:
            print(e)
            try:
                apexstock.drop(ID, inplace=True)
            except:
                pass
            continue

    print(len(apexstock.index.values))
    print(np.shape(profit_list))
    profit_df = pd.DataFrame(profit_list, columns=['ID', 'profit'])
    profit_df.set_index('ID', inplace=True)
    apexstock.loc[apexstock.index.values, 'profit'] = profit_df['profit'].values
    apexstock.to_excel('C:/Users/User/Desktop/code/python/stockdata_VCP/VCP_predict_project/ETF test/stock choose T12/' + str(day).split(' ')[0] + 'RS選股(T12)' + '.xlsx', encoding='utf-8-sig')
    profit = {'season1_profit':profit_df.sum().values,
            'number of stock':len(apexstock.index.values)}
    if number == 0:
        all_df = pd.DataFrame(profit, index = [day])
    else:
        day_profit_df = pd.DataFrame(profit, index = [day])
        all_df = pd.concat([day_profit_df, all_df])
    display(all_df)
    # print(season1_profit.sum())
    # print(season2_profit.sum())
    # print(season3_profit.sum())
    # print(season4_profit.sum())
    # print(all_profit.sum())

     有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
ID
1101     台泥  上市   水泥工業     1962/02/09
1102     亞泥  上市   水泥工業     1962/06/08
1103     嘉泥  上市   水泥工業     1969/11/14
1104     環泥  上市   水泥工業     1971/02/01
1108     幸福  上市   水泥工業     1990/06/06
...     ...  ..    ...            ...
9949     琉園  上櫃  文化創意業     2003/11/21
9950    萬國通  上櫃   塑膠工業     2004/02/17
9951     皇田  上櫃   電機機械     2003/12/18
9960    邁達康  上櫃   運動休閒     2004/12/06
9962     有益  上櫃   鋼鐵工業     2006/07/10

[1788 rows x 4 columns]
day 2009-11-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:35
2009-11-24 00:00:00
apexstock len:35
2009-11-24 00:00:00
35
(35, 2)

            season1_profit  number of stock
2009-11-24        5.704893               35

day 2010-01-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:32
2010-01-25 00:00:00
apexstock len:32
2010-01-25 00:00:00
32
(32, 2)

            season1_profit  number of stock
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2010-03-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:32
2010-03-29 00:00:00
apexstock len:32
2010-03-29 00:00:00
32
(32, 2)

            season1_profit  number of stock
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2010-05-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2010-05-31 00:00:00
apexstock len:48
2010-05-31 00:00:00
48
(48, 2)

            season1_profit  number of stock
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2010-07-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:29
2010-07-30 00:00:00
apexstock len:29
2010-07-30 00:00:00
29
(29, 2)

            season1_profit  number of stock
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2010-09-30 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:28
2010-09-30 00:00:00
apexstock len:28
2010-09-30 00:00:00
28
(28, 2)

            season1_profit  number of stock
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2010-12-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:51
2010-12-01 00:00:00
apexstock len:51
2010-12-01 00:00:00
51
(51, 2)

            season1_profit  number of stock
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:62
2011-02-08 00:00:00
apexstock len:62
2011-02-08 00:00:00
62
(62, 2)

            season1_profit  number of stock
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:54
2011-04-06 00:00:00
apexstock len:54
2011-04-06 00:00:00
54
(54, 2)

            season1_profit  number of stock
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-06-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2011-06-07 00:00:00
apexstock len:48
2011-06-07 00:00:00
48
(48, 2)

            season1_profit  number of stock
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-08-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:44
2011-08-08 00:00:00
apexstock len:44
2011-08-08 00:00:00
44
(44, 2)

            season1_profit  number of stock
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-10-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:33
2011-10-07 00:00:00
apexstock len:33
2011-10-07 00:00:00
33
(33, 2)

            season1_profit  number of stock
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2011-12-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:42
2011-12-08 00:00:00
apexstock len:42
2011-12-08 00:00:00
42
(42, 2)

            season1_profit  number of stock
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-02-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:40
2012-02-08 00:00:00
apexstock len:40
2012-02-08 00:00:00
40
(40, 2)

            season1_profit  number of stock
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-04-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:29
2012-04-10 00:00:00
apexstock len:29
2012-04-10 00:00:00
29
(29, 2)

            season1_profit  number of stock
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-06-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:36
2012-06-11 00:00:00
apexstock len:36
2012-06-11 00:00:00
36
(36, 2)

            season1_profit  number of stock
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-08-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2012-08-13 00:00:00
apexstock len:48
2012-08-13 00:00:00
48
(48, 2)

            season1_profit  number of stock
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-10-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:46
2012-10-15 00:00:00
apexstock len:46
2012-10-15 00:00:00
46
(46, 2)

            season1_profit  number of stock
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2012-12-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:28
2012-12-14 00:00:00
apexstock len:28
2012-12-14 00:00:00
28
(28, 2)

            season1_profit  number of stock
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-02-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2013-02-18 00:00:00
apexstock len:48
2013-02-18 00:00:00
48
(48, 2)

            season1_profit  number of stock
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-04-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:39
2013-04-17 00:00:00
apexstock len:39
2013-04-17 00:00:00
39
(39, 2)

            season1_profit  number of stock
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-06-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:33
2013-06-18 00:00:00
apexstock len:33
2013-06-18 00:00:00
33
(33, 2)

            season1_profit  number of stock
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-08-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:54
2013-08-19 00:00:00
apexstock len:54
2013-08-19 00:00:00
54
(54, 2)

            season1_profit  number of stock
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-10-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2013-10-21 00:00:00
apexstock len:48
2013-10-21 00:00:00
48
(48, 2)

            season1_profit  number of stock
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2013-12-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:47
2013-12-23 00:00:00
apexstock len:47
2013-12-23 00:00:00
47
(47, 2)

            season1_profit  number of stock
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-02-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:44
2014-02-21 00:00:00
apexstock len:44
2014-02-21 00:00:00
44
(44, 2)

            season1_profit  number of stock
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:35
2014-04-24 00:00:00
apexstock len:35
2014-04-24 00:00:00
35
(35, 2)

            season1_profit  number of stock
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-06-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:27
2014-06-25 00:00:00
apexstock len:27
2014-06-25 00:00:00
27
(27, 2)

            season1_profit  number of stock
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-08-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2014-08-26 00:00:00
apexstock len:43
2014-08-26 00:00:00
43
(43, 2)

            season1_profit  number of stock
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-10-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:70
2014-10-27 00:00:00
apexstock len:70
2014-10-27 00:00:00
70
(70, 2)

            season1_profit  number of stock
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2014-12-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:35
2014-12-29 00:00:00
apexstock len:35
2014-12-29 00:00:00
35
(35, 2)

            season1_profit  number of stock
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2015-03-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:58
2015-03-02 00:00:00
apexstock len:58
2015-03-02 00:00:00
58
(58, 2)

            season1_profit  number of stock
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2015-05-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:51
2015-05-04 00:00:00
apexstock len:51
2015-05-04 00:00:00
51
(51, 2)

            season1_profit  number of stock
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2015-07-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:39
2015-07-02 00:00:00
apexstock len:39
2015-07-02 00:00:00
39
(39, 2)

            season1_profit  number of stock
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2015-09-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:40
2015-09-02 00:00:00
apexstock len:40
2015-09-02 00:00:00
40
(40, 2)

            season1_profit  number of stock
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2015-11-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:35
2015-11-03 00:00:00
apexstock len:35
2015-11-03 00:00:00
35
(35, 2)

            season1_profit  number of stock
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-01-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:33
2016-01-04 00:00:00
apexstock len:33
2016-01-04 00:00:00
33
(33, 2)

            season1_profit  number of stock
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-03-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2016-03-07 00:00:00
apexstock len:48
2016-03-07 00:00:00
48
(48, 2)

            season1_profit  number of stock
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-05-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:61
2016-05-09 00:00:00
apexstock len:61
2016-05-09 00:00:00
61
(61, 2)

            season1_profit  number of stock
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-07-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:53
2016-07-08 00:00:00
apexstock len:53
2016-07-08 00:00:00
53
(53, 2)

            season1_profit  number of stock
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-09-08 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:44
2016-09-08 00:00:00
apexstock len:44
2016-09-08 00:00:00
44
(44, 2)

            season1_profit  number of stock
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2016-11-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:55
2016-11-09 00:00:00
apexstock len:55
2016-11-09 00:00:00
55
(55, 2)

            season1_profit  number of stock
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-01-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:37
2017-01-10 00:00:00
apexstock len:37
2017-01-10 00:00:00
37
(37, 2)

            season1_profit  number of stock
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-03-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2017-03-13 00:00:00
apexstock len:43
2017-03-13 00:00:00
43
(43, 2)

            season1_profit  number of stock
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-05-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:51
2017-05-15 00:00:00
apexstock len:51
2017-05-15 00:00:00
51
(51, 2)

            season1_profit  number of stock
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-07-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2017-07-17 00:00:00
apexstock len:50
2017-07-17 00:00:00
50
(50, 2)

            season1_profit  number of stock
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-09-15 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2017-09-15 00:00:00
apexstock len:43
2017-09-15 00:00:00
43
(43, 2)

            season1_profit  number of stock
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2017-11-16 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:36
2017-11-16 00:00:00
apexstock len:36
2017-11-16 00:00:00
36
(36, 2)

            season1_profit  number of stock
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-01-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:44
2018-01-17 00:00:00
apexstock len:44
2018-01-17 00:00:00
44
(44, 2)

            season1_profit  number of stock
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-03-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:37
2018-03-20 00:00:00
apexstock len:37
2018-03-20 00:00:00
37
(37, 2)

            season1_profit  number of stock
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-05-21 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:34
2018-05-21 00:00:00
apexstock len:34
2018-05-21 00:00:00
34
(34, 2)

            season1_profit  number of stock
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-07-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:52
2018-07-23 00:00:00
apexstock len:52
2018-07-23 00:00:00
52
(52, 2)

            season1_profit  number of stock
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-09-25 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:51
2018-09-25 00:00:00
apexstock len:51
2018-09-25 00:00:00
51
(51, 2)

            season1_profit  number of stock
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2018-11-23 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:18
2018-11-23 00:00:00
apexstock len:18
2018-11-23 00:00:00
18
(18, 2)

            season1_profit  number of stock
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-01-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:30
2019-01-24 00:00:00
apexstock len:30
2019-01-24 00:00:00
30
(30, 2)

            season1_profit  number of stock
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-03-27 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:38
2019-03-27 00:00:00
apexstock len:38
2019-03-27 00:00:00
38
(38, 2)

            season1_profit  number of stock
2019-03-27       -1.751582               38
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-05-28 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2019-05-28 00:00:00
apexstock len:43
2019-05-28 00:00:00
43
(43, 2)

            season1_profit  number of stock
2019-05-28        2.593345               43
2019-03-27       -1.751582               38
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-07-29 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:44
2019-07-29 00:00:00
apexstock len:44
2019-07-29 00:00:00
44
(44, 2)

            season1_profit  number of stock
2019-07-29       -0.694374               44
2019-05-28        2.593345               43
2019-03-27       -1.751582               38
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-10-01 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:45
2019-10-01 00:00:00
apexstock len:45
2019-10-01 00:00:00
45
(45, 2)

            season1_profit  number of stock
2019-10-01        0.635434               45
2019-07-29       -0.694374               44
2019-05-28        2.593345               43
2019-03-27       -1.751582               38
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2019-12-02 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2019-12-02 00:00:00
apexstock len:43
2019-12-02 00:00:00
43
(43, 2)

            season1_profit  number of stock
2019-12-02       -2.348572               43
2019-10-01        0.635434               45
2019-07-29       -0.694374               44
2019-05-28        2.593345               43
2019-03-27       -1.751582               38
2019-01-24        3.976129               30
2018-11-23        0.548334               18
2018-09-25       -6.189334               51
2018-07-23       -0.575052               52
2018-05-21        0.721296               34
2018-03-20        3.237366               37
2018-01-17        0.197124               44
2017-11-16        3.164282               36
2017-09-15        3.087995               43
2017-07-17        5.947950               50
2017-05-15        2.605461               51
2017-03-13        0.358623               43
2017-01-10        3.225343               37
2016-11-09        3.043209               55
2016-09-08       -4.603860               44
2016-07-08        4.112291               53
2016-05-09        4.775836               61
2016-03-07       -3.415296               48
2016-01-04        2.916144               33
2015-11-03        0.699971               35
2015-09-02        6.413788               40
2015-07-02       -7.623451               39
2015-05-04        0.643121               51
2015-03-02        2.973358               58
2014-12-29        0.123777               35
2014-10-27        4.957641               70
2014-08-26       -5.945219               43
2014-06-25       -1.614421               27
2014-04-24        4.044217               35
2014-02-21        1.430703               44
2013-12-23        5.536770               47
2013-10-21        1.658517               48
2013-08-19        3.607634               54
2013-06-18        3.311097               33
2013-04-17        3.809839               39
2013-02-18        5.256365               48
2012-12-14        1.713525               28
2012-10-15        0.307759               46
2012-08-13        0.573140               48
2012-06-11        3.547539               36
2012-04-10       -3.166759               29
2012-02-08       -3.485229               40
2011-12-08        3.950102               42
2011-10-07       -2.640192               33
2011-08-08       -3.956192               44
2011-06-07       -5.249875               48
2011-04-06        1.861445               54
2011-02-08       -0.569869               62
2010-12-01        0.155438               51
2010-09-30       -0.141397               28
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

day 2020-01-31 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:74
2020-01-31 00:00:00
apexstock len:74
2020-01-31 00:00:00
74
(74, 2)

            season1_profit  number of stock
2020-01-31      -10.394068               74
2019-12-02       -2.348572               43
2019-10-01        0.635434               45
2019-07-29       -0.694374               44
2019-05-28        2.593345               43
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[61 rows x 2 columns]

day 2020-04-06 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:60
2020-04-06 00:00:00
apexstock len:60
2020-04-06 00:00:00
60
(60, 2)

            season1_profit  number of stock
2020-04-06       20.107258               60
2020-01-31      -10.394068               74
2019-12-02       -2.348572               43
2019-10-01        0.635434               45
2019-07-29       -0.694374               44
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[62 rows x 2 columns]

day 2020-06-03 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:41
2020-06-03 00:00:00
apexstock len:41
2020-06-03 00:00:00
41
(41, 2)

            season1_profit  number of stock
2020-06-03        5.351691               41
2020-04-06       20.107258               60
2020-01-31      -10.394068               74
2019-12-02       -2.348572               43
2019-10-01        0.635434               45
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[63 rows x 2 columns]

day 2020-08-04 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:54
2020-08-04 00:00:00
apexstock len:54
2020-08-04 00:00:00
54
(54, 2)

            season1_profit  number of stock
2020-08-04        3.068422               54
2020-06-03        5.351691               41
2020-04-06       20.107258               60
2020-01-31      -10.394068               74
2019-12-02       -2.348572               43
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[64 rows x 2 columns]

day 2020-10-05 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:50
2020-10-05 00:00:00
apexstock len:50
2020-10-05 00:00:00
50
(50, 2)

            season1_profit  number of stock
2020-10-05        5.212174               50
2020-08-04        3.068422               54
2020-06-03        5.351691               41
2020-04-06       20.107258               60
2020-01-31      -10.394068               74
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[65 rows x 2 columns]

day 2020-12-07 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:68
2020-12-07 00:00:00
apexstock len:68
2020-12-07 00:00:00
68
(68, 2)

            season1_profit  number of stock
2020-12-07        5.345656               68
2020-10-05        5.212174               50
2020-08-04        3.068422               54
2020-06-03        5.351691               41
2020-04-06       20.107258               60
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[66 rows x 2 columns]

day 2021-02-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:62
2021-02-17 00:00:00
apexstock len:62
2021-02-17 00:00:00
62
(62, 2)

            season1_profit  number of stock
2021-02-17       18.134466               62
2020-12-07        5.345656               68
2020-10-05        5.212174               50
2020-08-04        3.068422               54
2020-06-03        5.351691               41
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[67 rows x 2 columns]

day 2021-04-09 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:63
2021-04-09 00:00:00
apexstock len:63
2021-04-09 00:00:00
63
(63, 2)

            season1_profit  number of stock
2021-04-09       -5.420519               63
2021-02-17       18.134466               62
2020-12-07        5.345656               68
2020-10-05        5.212174               50
2020-08-04        3.068422               54
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[68 rows x 2 columns]

day 2021-06-10 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:42
2021-06-10 00:00:00
apexstock len:42
2021-06-10 00:00:00
42
(42, 2)

            season1_profit  number of stock
2021-06-10        3.468411               42
2021-04-09       -5.420519               63
2021-02-17       18.134466               62
2020-12-07        5.345656               68
2020-10-05        5.212174               50
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[69 rows x 2 columns]

day 2021-08-11 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:73
2021-08-11 00:00:00
apexstock len:73
2021-08-11 00:00:00
73
(73, 2)

            season1_profit  number of stock
2021-08-11       -3.300307               73
2021-06-10        3.468411               42
2021-04-09       -5.420519               63
2021-02-17       18.134466               62
2020-12-07        5.345656               68
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[70 rows x 2 columns]

day 2021-10-12 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:64
2021-10-12 00:00:00
apexstock len:64
2021-10-12 00:00:00
64
(64, 2)

            season1_profit  number of stock
2021-10-12       11.604661               64
2021-08-11       -3.300307               73
2021-06-10        3.468411               42
2021-04-09       -5.420519               63
2021-02-17       18.134466               62
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[71 rows x 2 columns]

day 2021-12-13 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:57
2021-12-13 00:00:00
apexstock len:57
2021-12-13 00:00:00
57
(57, 2)

            season1_profit  number of stock
2021-12-13       -1.591963               57
2021-10-12       11.604661               64
2021-08-11       -3.300307               73
2021-06-10        3.468411               42
2021-04-09       -5.420519               63
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[72 rows x 2 columns]

day 2022-02-14 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:61
2022-02-14 00:00:00
apexstock len:61
2022-02-14 00:00:00
61
(61, 2)

            season1_profit  number of stock
2022-02-14       -0.616410               61
2021-12-13       -1.591963               57
2021-10-12       11.604661               64
2021-08-11       -3.300307               73
2021-06-10        3.468411               42
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[73 rows x 2 columns]

day 2022-04-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:58
2022-04-18 00:00:00
apexstock len:58
2022-04-18 00:00:00
58
(58, 2)

            season1_profit  number of stock
2022-04-18       -5.036849               58
2022-02-14       -0.616410               61
2021-12-13       -1.591963               57
2021-10-12       11.604661               64
2021-08-11       -3.300307               73
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[74 rows x 2 columns]

day 2022-06-17 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:54
2022-06-17 00:00:00
apexstock len:54
2022-06-17 00:00:00
54
(54, 2)

            season1_profit  number of stock
2022-06-17        4.692200               54
2022-04-18       -5.036849               58
2022-02-14       -0.616410               61
2021-12-13       -1.591963               57
2021-10-12       11.604661               64
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[75 rows x 2 columns]

day 2022-08-18 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:41
2022-08-18 00:00:00
apexstock len:41
2022-08-18 00:00:00
41
(41, 2)

            season1_profit  number of stock
2022-08-18       -6.145851               41
2022-06-17        4.692200               54
2022-04-18       -5.036849               58
2022-02-14       -0.616410               61
2021-12-13       -1.591963               57
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[76 rows x 2 columns]

day 2022-10-19 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:41
2022-10-19 00:00:00
apexstock len:41
2022-10-19 00:00:00
41
(41, 2)

            season1_profit  number of stock
2022-10-19        3.579253               41
2022-08-18       -6.145851               41
2022-06-17        4.692200               54
2022-04-18       -5.036849               58
2022-02-14       -0.616410               61
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[77 rows x 2 columns]

day 2022-12-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:43
2022-12-20 00:00:00
apexstock len:43
2022-12-20 00:00:00
43
(43, 2)

            season1_profit  number of stock
2022-12-20        3.689034               43
2022-10-19        3.579253               41
2022-08-18       -6.145851               41
2022-06-17        4.692200               54
2022-04-18       -5.036849               58
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[78 rows x 2 columns]

day 2023-02-20 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:48
2023-02-20 00:00:00
apexstock len:48
2023-02-20 00:00:00
48
(48, 2)

            season1_profit  number of stock
2023-02-20        2.727309               48
2022-12-20        3.689034               43
2022-10-19        3.579253               41
2022-08-18       -6.145851               41
2022-06-17        4.692200               54
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[79 rows x 2 columns]

day 2023-04-24 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:52
2023-04-24 00:00:00
apexstock len:52
2023-04-24 00:00:00
52
(52, 2)

            season1_profit  number of stock
2023-04-24        4.869647               52
2023-02-20        2.727309               48
2022-12-20        3.689034               43
2022-10-19        3.579253               41
2022-08-18       -6.145851               41
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[80 rows x 2 columns]

day 2023-06-26 00:00:00
'<' not supported between instances of 'numpy.ndarray' and 'str'
6170.0 失敗
apexstock len:56
2023-06-26 00:00:00
apexstock len:56
2023-06-26 00:00:00
56
(56, 2)

            season1_profit  number of stock
2023-06-26        0.464438               56
2023-04-24        4.869647               52
2023-02-20        2.727309               48
2022-12-20        3.689034               43
2022-10-19        3.579253               41
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[81 rows x 2 columns]

In [5]:
display(all_df)
avg_profit_df6 = pd.DataFrame([])
for ind in all_df.index.values:
    avg_profit_df6.loc[ind, 'season1 profit'] = 100*all_df.loc[ind, 'season1_profit']/all_df.loc[ind, 'number of stock']
    avg_profit_df6.loc[ind, 'numbers of stock'] = all_df.loc[ind, 'number of stock']
avg_profit_df6.loc['total'] = avg_profit_df6.sum()
display(avg_profit_df6)
avg_profit_df6.to_excel(r'C:\Users\User\Desktop\code\python\stockdata_VCP\VCP_predict_project\ETF test\T12.xlsx')

            season1_profit  number of stock
2023-06-26        0.464438               56
2023-04-24        4.869647               52
2023-02-20        2.727309               48
2022-12-20        3.689034               43
2022-10-19        3.579253               41
...                    ...              ...
2010-07-30        0.516410               29
2010-05-31        3.439175               48
2010-03-29       -2.878377               32
2010-01-25        2.302467               32
2009-11-24        5.704893               35

[81 rows x 2 columns]

                     season1 profit  numbers of stock
2023-06-26 00:00:00        0.829353              56.0
2023-04-24 00:00:00        9.364705              52.0
2023-02-20 00:00:00        5.681895              48.0
2022-12-20 00:00:00        8.579149              43.0
2022-10-19 00:00:00        8.729886              41.0
...                             ...               ...
2010-05-31 00:00:00        7.164948              48.0
2010-03-29 00:00:00       -8.994929              32.0
2010-01-25 00:00:00        7.195208              32.0
2009-11-24 00:00:00       16.299695              35.0
total                    243.910437            3706.0

[82 rows x 2 columns]