In [1]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
import talib
import numpy as np
import glob
from sklearn.preprocessing import MinMaxScaler

In [5]:
a  = np.random.random_sample((10,2))
a = pd.DataFrame(a, columns=['A','B'])
a

          A         B
0  0.258068  0.600144
1  0.255913  0.223501
2  0.658132  0.663558
3  0.237824  0.913849
4  0.024986  0.745535
5  0.194770  0.141216
6  0.146932  0.057500
7  0.242298  0.973677
8  0.776325  0.241702
9  0.068143  0.774565

In [7]:
a['C'] = a['A']>a['B']
a

          A         B      C
0  0.258068  0.600144  False
1  0.255913  0.223501   True
2  0.658132  0.663558  False
3  0.237824  0.913849  False
4  0.024986  0.745535  False
5  0.194770  0.141216   True
6  0.146932  0.057500   True
7  0.242298  0.973677  False
8  0.776325  0.241702   True
9  0.068143  0.774565  False

In [11]:
b  = np.random.random_sample((10,1))
print(b)
print(b[a['C']])

[[0.78612399]
 [0.91379307]
 [0.0862884 ]
 [0.12383148]
 [0.19263612]
 [0.72646357]
 [0.55393627]
 [0.78905512]
 [0.55117813]
 [0.60476537]]
[[0.91379307]
 [0.72646357]
 [0.55393627]
 [0.55117813]]